{% load solo_tags thumbnail %}
{% get_solo 'config.MerchantDetails' as merchant_details %}

{% if merchant_details.has_logo %}
    <div class="row">
       <div class="col-md-12 text-center">
           {% thumbnail merchant_details.logo 250x180 crop as logo%}
          <img src="{{ logo.url }}" width="{{ logo.width }}" height="{{ logo.height }}">
       </div>
       <!-- /.col-lg-12 -->
    </div>
{% endif %}