{% extends 'base.html' %}

{% load i18n crispy_forms_tags %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% trans 'Login' %}</h3>
                    </div>
                    <div class="panel-body">
                        {% crispy form form.helper %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{# empty block to remove content wrapper #}
{% block no_content_wrapper %}{% endblock %}

{% block javascript_catalog %}
{#    empty block to remove javascript catalog from login page#}
{% endblock %}


{% block js %}

    <script>
        window['gettext'] = function(str) {
            return str;
        };
        
        $.DjangoAjaxHandler2({
            submitBtn: '#submit-id-submit',
            form_selector: '#login-form'
        });
    </script>

{% endblock %}