{% extends 'base.html' %}

{% load crispy_forms_tags i18n %}

{% block content %}

    <div class="row">
        <div class="col-lg-6 col-md-offset-3">
            <h1 class="page-header">{{ page_title }}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            {% crispy form %}
                            <div class="text-center">
                                <button type="submit" id="submit-form" class="btn btn-success">{% trans 'Submit' %}</button>
                            </div>
                        </div>

                        <!-- /.col-lg-6 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

{% endblock %}

{% block js %}

    <script>
{#        $("form").validate();#}
        $.DjangoAjaxHandler2({
            submitBtn: '#submit-form',
            form_selector: '#select-gateway'
        });
    </script>

{% endblock %}

