{% extends 'base.html' %}

{% block head %}
    <meta http-equiv="refresh" content="3; url={{ shopify_url }}">
{% endblock %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 col-md-offset-3">
            <h1 class="page-header">{{ page_title }}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-6 col-md-offset-3">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <tbody>
                                {% for key, value in attempt.gateway_response.items %}
                                    {%if not "udf" in key %}
                                        <tr>
                                            <th class="text-right">{{ key }}</th>
                                            <td>{{ value }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>

                        <p class="text-muted text-center">After you are done reviewing the details of the transaction,
                            <br> please use <a href="{{ shopify_url }}" class="bluelink">this link</a> to go back to the store.</p>
                        <div class="text-center">
                            {% if attempt.transaction.is_paid %}
                                <button type="submit" class="btn btn-success">Approved Transaction</button>
                            {% else %}
                                <button type="submit" class="btn btn-danger">Failed Transaction</button>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- /.col-lg-6 (nested) -->
            </div>
            <!-- /.row (nested) -->

        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
{% endblock %}

