{% load i18n %}

<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <title>{% trans "Redirecting to payment page" %}</title>
</head>
<body {% if request.LANGUAGE_CODE == 'ar' %} dir="rtl" {% endif %}>
    {% if not settings.manual_submission %}<h1>{% trans "Redirecting to payment page" %} <span id="loading">...</span> </h1>{% endif %}

    <form id="payment-form" action="{{ payment_url }}" method="post" {% if not settings.manual_submission %}hidden{% endif %}>
        {{ form.as_p }}
        {% if settings.manual_submission %}
            <button value="submit">Submit</button>
        {% endif %}
    </form>

    <script type="application/javascript">
        var loading = document.getElementById('loading');

        setInterval(function() {
            if ((loading.innerHTML += '.').length == 4)
                loading.innerHTML = '';
        }, 400);
        {% if not settings.manual_submission %}
            document.getElementById("payment-form").submit();
        {% endif %}
    </script>
</body>
</html>