{% load i18n %}


{% if perms.gateway.delete_paymenttransaction or perms.gateway.cancel_paymenttransaction or perms.gateway.restore_deletedpaymenttransaction %}
    <div class="btn-group pull-right">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            {% trans 'Actions' %} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            {% for action in allowed_actions %}
                {% if action == 'delete' and perms.gateway.delete_paymenttransaction %}
                    <li><a href="{{ action_url }}" class='action' action='delete'>{% trans 'Delete' %}</a></li>
                {% endif %}
                {% if action == 'cancel' and perms.gateway.cancel_paymenttransaction %}
                    <li><a href="{{ action_url }}" class='action' action='cancel'>{% trans 'Cancel' %}</a></li>
                {% endif %}
                {% if action == 'restore' and perms.gateway.restore_deletedpaymenttransaction %}
                    <li><a href="{{ action_url }}" class='action' action='restore'>{% trans 'Restore' %}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
