{% load i18n el_pagination_tags %}
<div class="tab-pane fade in active" id="gateway_{{ gateway.code }}">
  <div class="pull-right"><strong>{% trans 'Revenue' %}: {{ gateway.revenue|floatformat:gateway.currency_config.default_currency.decimal_places|default:"0.000" }} {{ gateway.currency_config.default_currency.code }}</strong></div>
    <h4>{{ gateway.name }}</h4>
	 <div class="table-responsive">
	    <table class="table table-striped table-bordered table-hover">
	        <thead>
	            <tr>
	                <th>#</th>
	                <th>{% trans 'Transaction' %}</th>
	                <th>{% trans 'Fee' %}</th>
	                <th>{% trans 'Amount' %}</th>
	                <th>{% trans 'Total' %}</th>
	            </tr>
	        </thead>
	        <tbody>
	        	{% paginate 5 gateway.transactions as transactions %}
	        	{% for transaction in transactions %}
	            <tr>
	                <td>{{ forloop.counter }}</td>
	                <td>{% if transaction.order_no %}{{ transaction.order_no }}{% elif transaction.bulk_id %}{{ transaction.bulk_id }}{% else %}{{ transaction.pk }}{% endif %}</td>
	                <td>{{ transaction.get_paid_attempt.fee|floatformat:gateway.currency_config.default_currency.decimal_places|default:"0.000" }}</td>
	                <td>{% if transaction.get_paid_attempt %}{{ transaction.get_paid_attempt.amount|floatformat:gateway.currency_config.default_currency.decimal_places|default:"0.000" }}{% else %}{{ transaction.get_amount|floatformat:gateway.currency_config.default_currency.decimal_places }}{% endif %}</td>
	                <td>{{ transaction.get_amount|floatformat:gateway.currency_config.default_currency.decimal_places|default:"0.000" }}</td>
	            </tr>
	            {% endfor %}
	        </tbody>
	    </table>
		 <div class="text-center">
	    	{% include 'dashboard/_partials/pagination.html' %}
		 </div>
	</div>
</div>
