{% load i18n %}
<div class="modal fade" id="ModalQr" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">X</span><span class="sr-only">{% trans 'Close' %}</span></button>
            <h3 class="modal-title" id="lineModalLabel">{% trans 'QR Code' %}</h3>
        </div>
        <div class="modal-body" align="center">
            <img src="{{qr_code.url}}"></div>
        </div>

    </div>
  </div>
</div>