/*
* ==========================================================================
* Global
* ==========================================================================
*/
.btn-primary{
    margin-left: 20px;
}
.blog-title{
    color: #385A30;
    font-family: "Open Sans";
    font-variant: small-caps;
}

.main-content{
    margin-top: 20px;
    padding-bottom: 50px;
    text-align: left;
}

.section-global-wrapper {
    position: relative;
}
.section-global-wrapper:before,
.section-global-wrapper:after {
    content: " ";
    display: table;
}
.section-global-wrapper:after {
    clear: both;
}
.container-fluid-kamn {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.container-kamn {
    margin-right: auto;
    margin-left: auto;
}


@media (min-width: 1068px) and (max-width: 1400px) { 
.post-sidebar{
    margin-top: 15px;
    border:1px solid #DDD;
    padding: 5px;
    }

}
@media (min-width: 750px) and (max-width: 1060px) { 
.post-sidebar{
    width:204px;
    margin-top: 15px;
    border:1px solid #DDD;
    padding: 5px;
    float: right;

}
}
.tales {
    width: 100%;
}
.blog-post{
margin-bottom: 30px;   
}
.blog-image{
    margin-bottom: 20px;
}
.carousel-inner{
    width:100%;
    max-height: 500px !important;
}
.post-sidebar{
    margin-top: 15px;
    border:1px solid #DDD;
    padding: 5px;
    

}
.form-group{
    
    padding:20px;
}
ul li{
    list-style: none;
}
h3.col-xs-12{
    margin-top: -20px;

}
.content-space{
    margin-top: 40px;
}
.center{
    text-align: center;
}
.block-author{
    color: #D7002E;
}

.btn-info{
float: right;
}


.icon-space{
    display: inline-block;
    padding:10px;
}
.current span{
    color:#55CBD2;

}


.title-text{
    font-family: 'Raleway', sans-serif;  
    letter-spacing: .2px;
    font-size: 40px;
}
.img-pad{
    padding-right: 23px;
}
.main-content{
    margin-top: 80px;
}



.white-text{
    font-style: italic;
    color: white;
}

body {
    font-size: 16px;
    line-height: 24px;
    background:#f5f5f5;
    font-family: 'Open Sans', sans-serif;
    color: #666666;
    
    
}

a {
    color: #55CBD2;
    text-decoration: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
}

a:hover { color: #888; text-decoration: none; }

strong { font-weight: bold; }

address {
    margin-top: 28px;
    }


@media (min-width: 50px) and (max-width: 988px) { 

address {
    margin-top: 28px;
    margin-left: 21px;
    }

}
@media (min-width: 988px) and (max-width: 1200px) { 

address {
    margin-top: 28px;
    margin-left: -58px;
    }

}
/*
* ==========================================================================
* Nav Pills
* ==========================================================================
*/
.nav-pills > li.selected > a,
.nav-pills > li.selected > a:hover,
.nav-pills > li.selected > a:focus {
    color: #ffffff;
    background-color: #1bbd9b;
}
/*
* ==========================================================================
* Pills Centered
* ==========================================================================
*/
.nav-pills-centered > .nav-pills {
    text-align: center;
}
.nav-pills-centered > .nav-pills > li {
    float: none;
    display: inline;
}
.nav-pills-centered > .nav-pills > li > a,
.nav-pills-centered > .nav-pills > li > span {
    display: inline-block;
    padding: 5px 14px;
}
.nav-pills-centered > .nav-pills > li > a.active,
.nav-pills-centered > .nav-pills > li > span.active,
.nav-pills-centered > .nav-pills > li > a.selected,
.nav-pills-centered > .nav-pills > li > span.selected {
    color: #ffffff;
    background-color: #1bbd9b;
}
/*
* ==========================================================================
* Navbar
* ==========================================================================
*/
.active{
    background:#74B9B9 !important;
    color: white;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
    min-height: 120px; 
    background-size: cover;
}
/*
* ==========================================================================
* Navbar Nav Links
* ==========================================================================
*/
.navbar-nav > li > a {
    padding: 10px 15px;
    margin: 5px 5px;
    border-radius: 4px;
}
/*
* ==========================================================================
* Brand / Project Name
* ==========================================================================
*/
.navbar-brand {  
    z-index: 9999px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 2px;

}
.side-left{
    background:#528C7C;
    box-shadow: 3px grey;
    color: white;
    padding: 30px;
    letter-spacing: .9px;
}
@media (min-width: 800px){ 

    .side-left{
    height: 1248px;
}
}

.banner-text{
    font-family: 'Raleway', sans-serif;
    color:white;
    font-size: 50px;

    }

#banners{
    
    margin-top: 30px;
    margin-bottom: 10px;
}
#banner-home{
    background-image:url('../img/slider/1.jpg');
    height:350px;
    margin-bottom: 30px;
    padding-top: 120px;
}

@media (min-width: 100px) and (max-width: 800px) { 

    #banner-home{
    background-image:url('../img/slider/1.jpg');
    height:450px;
    margin-bottom: 30px;
    }
}
#banner{
    margin-top:0px;
}


.header h1 {
    float: left;
    margin: 0;
    text-align: left;
}
.header a.brand {

    font-family: 'PT Sans', sans-serif;
    font-size: 40px;
    margin-top:5px;
    display: inline-block;
    width: 270px;
    height: 96px;
    padding: 30px 10px;
    /*background: url(../img/logo.png) 20px center no-repeat; */
}
@media (min-width: 50px) and (max-width: 768px) { 
        .header a.brand {
        width: 170px;
        margin-top:-41px;
        margin-top: -41px;
        position: absolute;
        font-size: 37px;
    } 
}  

.paragraph-text{
    text-align: justify;
    letter-spacing:1px;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    line-height: 24px;
}
.left2{
    text-align: left;
    letter-spacing:.7px;
    font-size: 13px;
    color: #71d7c2;
}

.spacing{
    margin-bottom: 80px;
}

.sidebar-right{
    font-size: 13px;
    font-weight: bold;
    color:#84d7bd;
}

.featured-img{
    padding: 0px 15px 15px 0;

}
p.blog-text{   
    font-size: 16px;
    letter-spacing: .1px;
    font-family: 'Arial';
    text-align:justify;
    text-justify:inter-word;
    }

.btn-sm{
    margin-left: 21px;
}


@media (max-width: 768px){ 
    .office-logo{
    
        width: 60px;
    }
}

/*
* ==========================================================================
* Feedback Section
* ==========================================================================
*/
.feedback-section {
    padding-bottom: 50px;
}
@media (max-width: 767px) {
    .feedback-section {
    padding-bottom: 40px;
    }
}
.feedback-section .feedback-form .btn-captcha-refresh {
    margin: 0 0 0 25px;
}
.feedback-section .address-section {
    text-align: center;
    padding-top: 50px;
}
@media (max-width: 767px) {
    .feedback-section .address-section {
    padding-top: 40px;
    }
}
.feedback-section .address-section .address-icon {
    color: #1bbd9b;
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 30px;
}
.feedback-section .address-section .address-title {
    margin-bottom: 15px;
}
.feedback-section .address-section .address-desc {
    margin-bottom: 30px;
}

/*
* ==========================================================================
* Services Section
* ==========================================================================
*/
.services-section {

    padding-top: 50px;
    padding-bottom: 50px;
}
.services-section .services-header {
    margin-bottom: 50px;
    font-size: 24px;
    

}
.services-section .services-header .services-header-title {
    margin-bottom: 15px;
    font-weight: 700;
    color: #666666;
    margin: 0;
    padding: 0;
}

.services-header-body{
    font-size: 18px;
}

.services-section .services-row-tail {
    margin-top: 50px;
}
.services-section .services-icon {
    color: #1bbd9b;
    margin-bottom: 30px;
}
.services-section .services-title {
    margin-bottom: 15px;
}
.services-section .services-desc {
    margin-bottom: 30px;
}
@media (max-width: 767px) {
    .services-section {
    padding-top: 40px;
    padding-bottom: 40px;
    }
    .services-section .services-group {
    margin-bottom: 50px;
    }
    .services-section .services-row-tail {
    margin-top: 0;
    }
}
.services-icon .fa:hover{
    padding: 0 10px 0 10px;
    color: white;
    background: #1BBD9B;
    border-radius: 3px; 
    transition:.4s;  
}
.services-group{
    padding: 10px;
    background:#061F20;
    color: white;
}
.service-icon{
    color: white;
}


/* ----- Footer ----- */
.footer-widget{
    color:white;
    margin-top: 55px;
}


footer .widget h4 {
    margin-top: 20px;
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
}

footer .widget p {
    line-height: 24px;
}

footer .widget i {
    padding-right: 7px;
}
footer{
    margin-top:40px;
    padding: 20px; 
    background: black;
}

footer h3 {
    color: #dadada;
    margin-bottom: 20px;
}

.footer-contact{
    color: white;
}


/*Social Buttons */
#social-icons{
    font-size: 22px;
    margin-top: 60px;
}

#social-icons .btn-group {
    color: #fff;
    margin-right: 15px;
}
#social-icons .btn-group:hover {
    color: #ffffff;
}

.copyright {
    color: #fff;
    padding: 20px 0px 10px 0px;
    background-color: rgb(23, 23, 23);
}

/*
* ==========================================================================
* Custom Sidebar Widgets
* ==========================================================================
*/



#custom-search-input {
        margin:0;
        margin-top: 10px;
        padding: 0;
    }

    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */

        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#D9230F;
    }

    .search-query:focus + button {
        z-index: 3;   
    }

    
    /*
* ==========================================================================
* Image Card
* ==========================================================================
*/
    .panel{
        margin-top: 30px;
    }
    .lib-panel img {
    width: 100%;
    background-color: transparent;
}

.lib-panel .row,
.lib-panel .col-md-6 {
    padding: 0;
    background-color: #FFFFFF;
}


.lib-panel .lib-row {
    padding: 0 20px 0 20px;
}

.lib-panel .lib-row.lib-header {
    background-color: #FCFFCF;
    font-size: 25px;
    padding: 15px 20px 0 20px;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 2px;
    width: 26px;
    background-color: #d9d9d9;
    margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
    position: relative;
    height: 100%;
    display: block;
    font-size: 13px;
}
.lib-panel .lib-row.lib-desc a{
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 20px;
}

.row-margin-bottom {
    margin-bottom: 20px;
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}

.no-padding {
    padding: 0;
}
.lib-header{
    font-family: 'Open Sans' ;
    font-style: normal;
}

/*
* ==========================================================================
* Blockquote
* ==========================================================================
*/

.glyphicon-lg{font-size:3em}
.blockquote-box{border-right:5px solid #E6E6E6;margin-bottom:25px}
.blockquote-box .square{width:100px;min-height:50px;margin-right:22px;text-align:center!important;background-color:#E6E6E6;padding:20px 0}
.blockquote-box.blockquote-primary{border-color:#357EBD}
.blockquote-box.blockquote-primary .square{background-color:#428BCA;color:#FFF}
.blockquote-box.blockquote-success{border-color:#4CAE4C}
.blockquote-box.blockquote-success .square{background-color:#5CB85C;color:#FFF}
.blockquote-box.blockquote-info{border-color:#46B8DA}
.blockquote-box.blockquote-info .square{background-color:#5BC0DE;color:#FFF}
.blockquote-box.blockquote-warning{border-color:#EEA236}
.blockquote-box.blockquote-warning .square{background-color:#F0AD4E;color:#FFF}
.blockquote-box.blockquote-danger{border-color:#D43F3A}
.blockquote-box.blockquote-danger .square{background-color:#D9534F;color:#FFF}

/*
* ==========================================================================
* Portfolio
* ==========================================================================
*/
.panel-image {
    position: relative;   
}
.panel-image img.panel-image-preview {
    width: 100%;
    border-radius: 4px 4px 0px 0px;
}

.panel-image label {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.panel-heading ~ .panel-image img.panel-image-preview {
    border-radius: 0px;
}

.panel-body {
    overflow: hidden;
}

.panel-image ~ input[type=checkbox] {
    position:absolute;
    top:- 30px;
    z-index: -1;   
}

.panel-image ~ input[type=checkbox] ~ .panel-body {
    height: 0px;
    padding: 0px;
}

.panel-image ~ input[type=checkbox]:checked ~ .panel-body {
    height: auto;
    padding: 15px;
}

.panel-image ~ .panel-footer a {
    padding: 0px 10px;
    font-size: 1.3em;
    color: rgb(100, 100, 100);
}
/*
* ==========================================================================
* Optional Carousel
* ==========================================================================
*/
.carousel-caption .carousel-title {
    color: #ffffff;
}

@media (min-width: 768px) and (max-width: 1199px) {
    .carousel-caption {
    font-size: 12px;
    padding-bottom: 0px;
    bottom: 2px;
    }
    .carousel-caption .carousel-title {
    font-size: 18px;
    }
}
@media (max-width: 767px) {
    .carousel-caption {
    font-size: 11px;
    padding-bottom: 0;
    bottom: 0;
    }
    .carousel-caption .carousel-title {
    font-size: 14px;
    }
}


.toptitle{
    color: #FFF;
    font-size:24px;
    margin-top: 20px;
}

.toptitle span{
    font-size:16px;
    display: block;
    margin-top: 10px;
}

.whitebg{
    background-color: #FFF;
    padding: 40px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
        box-shadow: 0 8px 6px -6px black;
}

.tblstyle td{
    padding-bottom: 10px;
    vertical-align: top;
}

.tblhead{
    margin-bottom: 10px;
    font-size: 18px;
}

.site-section{
    margin:20px 0px;
}

.terms{
    font-size: 14px;
    color: #000;
}

.btn-primary{
    background: #5cb95c;
    border-radius: 20px;
    border-color: #5cb95c;
    padding: 8px 32px;
    font-weight: 700;
    font-size: 18px;
    margin-left: 0px;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus{
    background: #5cb95c;
    border-radius: 20px;
    border-color: #5cb95c;
    padding: 8px 32px;
    font-weight: 700;
    font-size: 18px;
}

.amount-sec{
    padding-top: 10px;
}
.navbar-toggle{
    display: none;
}

@media (max-width: 767px) {
    .toptitle {
        margin-top: 35px;
    }
    
    #social-icons{
        margin-top: 0px;
    }

    .mobile-center, .mobile-center .amount-sec{
    text-align: center;
    }

    .amount-sec{
    padding: 20px 0px;
    }
}

.link{
    color: #666666;
}

.qtyinput{
    width: 50px;
    height: 45px;
    border: 1px solid #b8b8b8;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.update-btn{
        background-color: #FFF;
        color:  #5cb95c;
        border: 2px solid  #5cb95c;
}


.inpubox{
            border-radius: 5px;
        border: 1px solid #b8b8b8;
        padding: 5px;
        font-size: 14px;
}

/* listing */



.bottom-wrap {
    padding: 15px;
    border-top: 1px solid #eee;
}


.price-old {
    color: #999;
}

/* gallery css */
.carousel {
    margin-top: 20px;
}
.item .thumb {
    width: 25%;
    cursor: pointer;
    float: left;
}
.item .thumb img {
    width: 100%;
    margin: 2px;
}
.item img {
    width: 100%;	
}

.tblhead .carousel-inner img {
    height: 200px !important ;
}

.carousel-inner  img {
    height: 129px  !important;
    width: 129px  !important;
}
.img-first img {
    height: 368px !important;
    width: 100% !important;
    
}