{% load crispy_forms_tags i18n %}

{% for choice in gateway_choices %}
    <div class="site-section mobile-center">
        <div class="row pay_choices">
            <div class="col-sm-12">
                <div class="whitebg">
                    <div class="row">
                            <div class="col-sm-3">
                                <img src="{{choice.url}}" alt="{{choice.value}}" width="75" height="50"/>
                            </div>
                            <div class="col-sm-6 text-right amount-sec">
                            {% trans "Total Amount" %}
                            {% if choice.fee %}
                                {{ amount }} + {% trans "Fee" %} {{choice.fee}}
                            {% endif %}
                            = <strong>{{choice.currency_code}} {{choice.total}}</strong>
                            </div>
                            <div class="col-sm-2">
                                <button type="button" class="btn btn-primary submit-form" id="pay_submit_{{choice.code}}" data-gateway-code="{{choice.code}}" data-total-amount="{{choice.total}}">{% trans "Pay" %}</button>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}