{% load el_pagination_tags i18n %}

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>{% trans 'ID' %}</th>
                    <th>{% trans 'Email' %}</th>
                    <th>{% trans 'State' %}</th>
                    <th>{% trans 'Gateway code' %}</th>
                    <th>{% trans 'Amount' %}</th>
                    <th>{% trans 'Currency' %}</th>
                    <th>{% trans 'Creation date' %}</th>
                    <th>{% trans 'Send email' %}</th>
                    <th>{% trans 'Send SMS' %}</th>
                </tr>
            </thead>

            <tbody>
                {% paginate actions %}
                {% for transaction in actions %}
                    <tr>
                        <td><a href="{% url 'dashboard:payment_request_detail' transaction.pk %}">{{ transaction.id }}</a></td>
                        <td>{{ transaction.customer_email }}</td>
                        <td>{{ transaction.state | upper }}</td>
                        <td>{% if transaction.gateway_code %} {{ transaction.gateway_code }} {% else %} {% trans 'Not selected' %} {% endif %}</td>

                        <td>{{ transaction.amount }}</td>
                        <td>{{ transaction.currency_code }}</td>
                        <td>{{ transaction.created|date:"d-M-Y" }}</td>
                        <th><button {% if not transaction.is_valid_for_payment %}disabled{% endif %} data-href="{% url 'dashboard:send_communication_event' transaction.pk 'email' %}" class="btn btn-xs btn-info send-communication-event">{% trans 'MAIL' %}</button></th>
                        <th><button {% if not transaction.customer_phone_number or not transaction.is_valid_for_payment %}disabled{% endif %} data-href="{% url 'dashboard:send_communication_event' transaction.pk 'sms' %}" class="btn btn-xs btn-info send-communication-event">{% trans 'SMS' %}</button></th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row">
 
    <div class="col-md-12 text-center">
        {% include 'dashboard/_partials/pagination.html' %}
    </div>
</div>
