{% load el_pagination_tags i18n listing_tags rules %}
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        {% for total_currency in total_based_per_currencies %}
                            <div>{{ total_currency.total|floatformat:"3" }} {{ total_currency.currency }}</div>
                            {% empty %}
                            <div>0.000 KWD</div>
                        {% endfor %}
                        <div>{% trans 'Total Generated' %}</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        {% for total_currency in total_paid_based_per_currencies %}
                            <div>{{ total_currency.total|floatformat:"3" }} {{ total_currency.currency }}</div>
                            {% empty %}
                            <div>0.000 KWD</div>
                        {% endfor %}
                        <div>{% trans 'Total Received' %}</div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        {% for total_currency in total_not_paid_based_per_currencies %}
                            <div>{{ total_currency.total|floatformat:"3" }} {{ total_currency.currency }}</div>
                            {% empty %}
                            <div>0.000 KWD</div>
                        {% endfor %}
                        <div>{% trans 'Net Balance' %}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>