{% load el_pagination_tags i18n rules %}
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>{% trans 'Row number' %}</th>
                    <th>{% trans 'Email' %}</th>
                    <th>{% trans 'Is recurring' %}</th>
                    <th>{% trans 'Rule' %}</th>
                    <th>{% trans 'Start date' %}</th>
                    <th>{% trans 'End date' %}</th>
                    <th>{% trans 'Last sent at' %}</th>
                    <th>{% trans 'Creation date' %}</th>
                    <th>{% trans 'Modified date' %}</th>
                    {% for field in config_fields %}
                            <th>{{field}}</th>
                    {% endfor %}
                    {% if perms.bulk.dispatch_bulktransaction or perms.bulk.dispatch_owned_bulktransaction %}
                    <th>{% trans 'Action' %}</th>
                    {% endif %}
                </tr>
            </thead>

            <tbody>
                {% paginate transactions %}
                {% for transaction in transactions %}
                {% test_rule 'can_dispatch_bulk_transaction' user transaction as can_dispatch_bulk_transaction %}
                    <tr>
                        <td>{{ transaction.row_number }}
                            {% test_rule 'can_view_obj' user transaction as can_view_obj %}
                            {% if can_view_obj %}
                                <a href="{{ transaction.get_absolute_url }}">{% trans '(edit)' %}</a>
                            {% endif %}
                        </td>
                        <td>{{ transaction.get_customer_email }}</td>
                        <td>{{ transaction.is_recurring }}</td>
                        <td>{{ transaction.event.rule.name }}</td>
                        <td>{{ transaction.event.start|date:"d-M-Y H:i"}}</td>
                        <td>{{ transaction.event.end_recurring_period|date:"d-M-Y H:i" }}</td>
                        <td>{{ transaction.last_sent_at|date:"d-M-Y H:i" }}</td>
                        <td>{{ transaction.created|date:"d-M-Y" }}</td>
                        <td>{{ transaction.modified|date:"d-M-Y" }}</td>

                        {% for k, v in extra_fields.items %}
                            {% if k == transaction.id %}
                                {% for k1, v1 in v.items %}
                                    <td>{{v1}}</td>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}

                        {% if can_dispatch_bulk_transaction %}
                            <td><button type="button" {% trans 'Dispatching...' %} data-href="{{ transaction.get_dispatch_url }}" class="btn btn-info dispatch">{% trans 'Dispatch' %}</button></td>
                        {% elif perms.bulk.dispatch_bulktransaction or perms.bulk.dispatch_owned_bulktransaction %}
                            <td></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        {% include 'dashboard/_partials/pagination.html' %}
    </div>
</div>