{% load el_pagination_tags i18n rules %}

<div class="row">
    <div class="col-lg-12">
        <div class="panel-body">
            <div class="panel-group" id="accordion">
                {% if bulks.count > 0 %}
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>{% trans 'Filename' %}</th>
                            <th>{% trans 'Rows/Imported rows' %}</th>
                            <th>{% trans 'Uploaded by' %}</th>
                            <th>{% trans 'Size' %}</th>
                            <th>{% trans 'Uploaded on' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% paginate 10 bulks %}
                    {% for bulk in bulks %}
                        <tr>
                            <td><a href="{{ bulk.get_absolute_url }}">{{ bulk.description }}</a></td>
                            <td>{{ bulk.total_rows }}/{{ bulk.total_imported_rows }}</td>
                            <td>{{ bulk.initiator }}</td>
                            <td>{{ bulk.total_size|filesizeformat }}</td>
                            <td>{{ bulk.created|date:"d-m-Y H:i" }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <div class="">
                        {% trans 'No Entry Found' %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            {% include 'dashboard/_partials/pagination.html' %}
        </div>
    </div>
</div>