{% load el_pagination_tags i18n listing_tags %}
{% load product_tags %}
{% if total_based_per_currencies and total_paid_based_per_currencies and total_not_paid_based_per_currencies  %}
{% include 'dashboard/ajax/box_analysis.html' %}
{% endif %}
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                {% if perms.gateway.delete_paymenttransaction or perms.gateway.cancel_paymenttransaction %}
                    <th><input type='checkbox' class='mark_all'></th>
                {% endif %}
                <th>{% trans 'ID' %}</th>
                <th>{% trans 'Type' %}</th>
                <th>{% trans 'Product ID' %}</th>
                <th>{% trans 'Product/Service Name' %}</th>
                <th>{% trans 'Email' %}</th>
                <th>{% trans 'State' %}</th>
                <th>{% trans 'Gateway' %}</th>
                <th>{% trans 'Amount' %}</th>
                <th>{% trans 'Currency' %}</th>
                <th>{% trans 'Creation date' %}</th>
                {% for field in transaction_config.extra_fields %}<th>{{ field.get_label }}</th>{% endfor %}
                <th>{% trans 'Notify' %}</th>
                {% if perms.gateway.cancel_paymenttransaction %}
                    <th>{% trans 'Cancel' %}</th>
                {% endif %}

            </tr>
            </thead>

            <tbody>
            {% paginate 10 transactions %}
            {% for transaction in transactions %}
                <tr>
                    {% if perms.gateway.delete_paymenttransaction or perms.gateway.cancel_paymenttransaction %}
                        <td><input type='checkbox' value='{{ transaction.id }}' class='action_checkbox'></td>
                    {% endif %}
                    <td><a href="{{ transaction.get_absolute_url }}">{{ transaction.id }}</a></td>
                    <td>{{ transaction.extra.product_type }}</td> <!-- Type-->
                    {% get_product_url transaction.extra.product as product_url %}
                    <td> <a {% if product_url %} href="{{product_url}}" target="_blank" {% else %} href="#" {% endif %}>{{transaction.extra.product}}</a></td> <!-- Product id/Promotion page-->
                    <td>{{ transaction.extra.product_name }}</td> <!-- Product/Service Name-->
                    <td>{{ transaction.customer_email }}</td>
                    <td class='state'>{{ transaction.state | upper }}</td>
                    <td>{% if transaction.gateway_code %} {{ transaction.gateway_code }} {% else %}
                        {% trans 'Not selected' %} {% endif %}</td>

                    <td>{{ transaction.amount }}</td>
                    <td>{{ transaction.currency_code }}</td>
                    <td>{{ transaction.created|date:"d-M-Y" }}</td>
                    
                    {% get_values_for_extra_fields transaction as values %}
                    {% for value in values %}<td>{{ value }}</td>{% endfor %}

                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false"
                                    {% if not transaction.is_valid_for_payment %}disabled{% endif %}>
                                {% trans 'Select event' %} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'dashboard:send_communication_event' transaction.pk 'email' %}"
                                       class="send-communication-event">{% trans 'Email' %}</a></li>
                                {% if transaction.customer_phone %}
                                    <li><a href="{% url 'dashboard:send_communication_event' transaction.pk 'sms' %}"
                                           class="send-communication-event">{% trans 'SMS' %}</a></li>
                                {% endif %}
                                {% if transaction.push_notification %}
                                    <li><a href="{% url 'dashboard:send_communication_event' transaction.pk 'push' %}"
                                           class="send-communication-event">{% trans 'Push Notification' %}</a></li>
                                    <li><a href="{% url 'dashboard:send_communication_event' transaction.pk 'all' %}"
                                           class="send-communication-event">{% trans 'All' %}</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </td>
                    {% if perms.gateway.cancel_paymenttransaction %}
                        <td class='text-center cancel'>
                            <button type='button' action='{% url 'dashboard:cancel_transaction' transaction.pk %}'
                                    class='btn btn-default cancel_transaction'
                                    {% if not transaction.can_be_cancelled %}disabled{% endif %}>{% trans 'Cancel' %}</button>
                        </td>
                    {% endif %}
                </tr>
            {% empty %}
                <tr>
                    <td colspan="13" align="center">
                        {% trans 'No Entry Found' %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row">

    <div class="col-sm-12 text-center">
        {% include 'dashboard/_partials/pagination.html' %}
    </div>
</div>