{% load solo_tags thumbnail %}
{% get_solo 'config.MerchantDetails' as merchant_details %}

<nav id="navbar-section" class="navbar navbar-default navbar-static-top navbar-sticky" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if merchant_details.has_logo %}
                <a class="navbar-brand wow fadeInDownBig" href="{{merchant_details.website}}">
                    {% thumbnail merchant_details.logo 250x180 crop as logo %}
                    <img class="office-logo" src="{{ logo.url }}" width="{{ logo.width }}" height="{{ logo.height }}"></a>
            {% endif %}
        </div>
        <div class='col-sm-6'>
            <div class='toptitle'>{{ merchant_details.name}}<br>
            {% if merchant_details.website %}
                <span>{{ merchant_details.website}}</span>
            {% endif %}
            </div>
        </div>

        <div class="col-sm-3 pull-right text-right">
            <div id="social-icons">
                {% if merchant_details.instagram_url %}
                    <a href="{{merchant_details.instagram_url}}" class="btn-group google-plus">
                        <i class="fa fa-instagram"></i>
                    </a>
                {% endif %}

                {% if merchant_details.twitter_url %}
                    <a href="{{ merchant_details.twitter_url }}" class="btn-group twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                {% endif %}

                {% if merchant_details.facebook_url %}
                    <a href="{{ merchant_details.facebook_url }}" class="btn-group facebook">
                        <i class="fa fa-facebook"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>

<!-- End Header -->