{% load i18n solo_tags %}
{% get_solo 'config.Config' as site_config %}

<div class="modal fade" id="Modalterms" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">X</span><span class="sr-only">{% trans 'Close' %}</span></button>
            <h3 class="modal-title" id="lineModalLabel">{% trans 'Terms and conditions' %}</h3>
        </div>
        <div class="modal-body">
            {% if product.terms %}
            {{ product.terms_text|safe }}
            {% else %}
            {{ site_config.terms_text|safe }}
            {% endif %}
        </div>
    </div>
  </div>
</div>
