{% load i18n %}

<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <title>{% trans "Redirecting to payment page" %}</title>
</head>
<body {% if request.LANGUAGE_CODE == 'ar' %} dir="rtl" {% endif %}>
    <h1>{% trans "Redirecting to payment page" %} <span id="loading">...</span> </h1>

   
    {% if object.settings.type  == object.settings.SANDBOX %}
        {{ form.sandbox }}
    {% else %}
        {{ form.render }}
    {% endif %}
    

    <script type="application/javascript">
        var loading = document.getElementById('loading');

        setInterval(function() {
            if ((loading.innerHTML += '.').length == 4)
                loading.innerHTML = '';
        }, 400);

    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>$('form').hide(); $('form').submit()</script>
</body>
</html>