{% extends "admin/change_form.html" %}
{% load i18n %}
{% load fsm_admin %}

{% block submit_buttons_bottom %}
	{% if original.state == original.PAID and original.disclosure_url %}
    <div class="submit-row">
       		<a href='{% url 'admin:disclose_transaction' original.id %}' style='background:#417690;font-weight: 400;color: #fff; height: 35px; line-height: 15px;font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif; padding: 10px 15px; font-size: 13px;
       		border-radius: 4px;'>{% trans 'DISCLOSE TO MERCHANT' %}</a>
    </div>
    {% endif %}
	{% fsm_submit_row %}
{% endblock %}