<li class="first">{{ pages.first_as_arrow }}</li>
{% for page in pages %}
     <li {% if page.is_current %}class="active"{% endif %}>{{ page|default_if_none:'<span class="endless_separator">...</span>' }}</li>
{% endfor %}
<li class="last">{{ pages.last_as_arrow }}</li>