{% load solo_tags i18n compress %}

{% get_solo 'config.Config' as config %}
{% get_solo 'config.MerchantDetails' as merchant_details %}

<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{ config.title }} | {% block title %}{{ page_title }}{% endblock %}</title>

    <link rel="icon" type="image/png" sizes="32x32" href="{% if merchant_details.favicon %}{{merchant_details.favicon.url}}{% endif %}">
    <!-- MetisMenu CSS -->

    <!-- Custom CSS -->
    {% if LANGUAGE_BIDI %}
    <link href="{{ STATIC_URL }}css/ar/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/ar/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">
    {% endif %}
    {% compress css %}
     {% if LANGUAGE_BIDI %}
    <link href="{{ STATIC_URL }}css/ar/plugins/timeline.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/ar/sb-admin-2.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/ar/plugins/morris.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-select.min.css" rel="stylesheet">
    {% else %}
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-select.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/metisMenu.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/sb-admin-2.css" rel="stylesheet">
    {% endif %}

    {% block extra_css %}
        <link href="{{ STATIC_URL }}css/datepicker.css" rel="stylesheet">
    {% endblock extra_css %}

    <link href="{{ STATIC_URL }}css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}vendor/morrisjs/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{{ STATIC_URL }}css/font-awesome.css" rel="stylesheet" type="text/css">
    {% endcompress %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    {% block head %}{% endblock %}
</head>
<body>

    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">

    </div>

    {% block main %}{% endblock %}

    <div id="wrapper">

        {% block body %}

        {% endblock %}

        {% if not hide_navbar %}
            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-static-top" style="margin-bottom: 0">
                {% block menu %}
                    {% include '_partials/menu/navbar_header.html' %}
                    {% include '_partials/menu/navbar_right.html' %}
                    {% if dashboard %}
                        {% include '_partials/menu/sidebar.html' %}
                    {% endif %}
                {% endblock menu %}
            </nav>
        {% endif %}

        {# use empty block no_content_wrapper to remove this section #}
        {% block no_content_wrapper %}
        <div id="page-wrapper" {% if not dashboard %}class="marginnone" style="min-height: 909px;"{% endif %}>
            {% block content %}{% endblock %}
        </div>
        <!-- /#page-wrapper -->
        {% endblock %}

    </div>
    {% block javascript_catalog %}
        <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    {% endblock %}
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    {% compress js %}
    <script>
        var lang = "{{ request.LANGUAGE_CODE }}";
    </script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ STATIC_URL }}js/moment.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-select.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-datetimepicker.min.js"></script>
    
    <!-- Pagination JavaScript -->
{#    <script src="{{ STATIC_URL }}js/pagination.js"></script>#}


    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{ STATIC_URL }}js/metisMenu.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="{{ STATIC_URL }}vendor/raphael/raphael.min.js"></script>
     <script src="{{ STATIC_URL }}vendor/morrisjs/morris.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ STATIC_URL }}js/sb-admin-2.js"></script>
    <script src="{{ STATIC_URL }}js/frontend.js"></script>
    <script src="{{ STATIC_URL }}js/script.js"></script>

    <!-- Hotjar Tracking Code for http://knpay3.mykuwaitnet.net -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:787038,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

    {% block js %}

    {% endblock %}
    {% endcompress %}


    {% block extra_js %}
    {% endblock extra_js %}
</body>
</html>