{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <br>
    {% include '_partials/merchant_logo.html' %}
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="page-header">{{ page_title }}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-6 col-md-offset-3">
            <div class="row">
                <div class="col-lg-12">

                    <h4 class="text-center">{% trans 'The KNPay service is expired, kindly renew it or it will be terminated' %} {% if termination_date %}{% blocktrans %} on {{ termination_date }}.{% endblocktrans %} {% endif %}</h4>
                    <h4 class="text-center">{% blocktrans %}Days left: {{ days_left }}{% endblocktrans %}</h4>
                </div>
                <!-- /.col-lg-6 (nested) -->
            </div>
            <!-- /.row (nested) -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
{% endblock %}