{% extends 'ui/base.html' %}
{% load i18n display_tags solo_tags %}
{% block title %}{{ page_title }}{% endblock %}

{% block content %}

    <!-- Begin #services-section -->
    <section id="services" class="services-section section-global-wrapper">
        <div class="container">
            <div class="row">
                <div class="services-header">
                </div>
            </div>

            <div class="row">
            	<div class="col-sm-12">
            		<div class="whitebg">
            		<div class="row">
       				  <div class="col-sm-12 text-center">
                            <div><img src="{{STATIC_URL}}images/{{attempt_state}}.jpg" alt=""/></div>
                            <div class="tblhead"><strong>{{ attempt.message }}</strong></div>
                            <!--<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>-->
                            <h4 align="center" class="{{attempt.get_state_display}}">{{message}}</h4>
						  {% if try_again_link %}
						  <a class="btn btn-primary" href="{{ try_again_link }}">Try again</a>
						  {% endif %}
                        </div>
                    </div>
            			<hr>
            			<div class="row">
            				<div class="col-sm-6">
            					<div class="tblhead"><strong>{% trans "Customer Details" %}</strong></div>
            					<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tblstyle">
								  <tbody>
                                      {% for field_name, value in customer_details.items %}
                                        <tr>
                                          <td>{{field_name}}:</td>
                                          <td>{{value}}</td>
                                        </tr>
                                      {% endfor %}
                                      {% if product %}
                                          <tr>
                                              <td>{% trans 'Product' %}:</td>
                                              <td>{{product.name}}</td>
                                          </tr>
                                          <tr>
                                              <td>{% trans 'Quantity' %}:</td>
                                              <td>{{quantity}}</td>
                                          </tr>
                                      {% endif %}
								  </tbody>
								</table>
            				</div>

            				<div class="col-sm-6">
								<div class="tblhead"><strong>{% trans "Merchant Details" %}</strong></div>
           						<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tblstyle">
								  <tbody>
                                    {% if order_id %}
                                        <tr>
                                          <td>{% trans "Reference Number:" %}</td>
                                          <td>{{ order_id }}</td>
                                        </tr>
                                    {% endif %}
									<tr>
									  <td>{% trans "Reference Date:" %}</td>
									  <td>{{ object.transaction.created }}</td>
									</tr>
									<tr>
									  <td>{% trans "Internal ID:" %}</td>
									  <td>{{ object.transaction.id }}</td>
									</tr>

 								  </tbody>
								</table>
            				</div>
            			</div>
            			<hr>
						<div class="row">
								<div class="col-sm-12 text-right"><p class="services-header-body">
									{% if attachment %}
									<a href="{{attachment.url}}" class="link" target="_blank">
                                        <i class="fa fa-download" aria-hidden="true" data-placement="bottom" title="{% trans 'Download Attachment' %}"></i>
                                        {% trans "Download Attachment" %}
                                    </a>
									{% endif %}
									{% if invoice_url %}
									<a href="{{invoice_url}}" class="link" target="_blank">
                                        <i class="fa fa-download" aria-hidden="true" data-placement="bottom" title="{% trans 'Download Invoice' %}"></i>
                                        {% trans "Download Invoice" %}
                                    </a>
									{% endif %}
								</p></div>
							{% if remarks %}
								<div class="col-sm-12">
									<div class="tblhead"><strong>{% trans "Remarks" %}</strong></div>
									<p>{{remarks}}</p>
								</div>
							{% endif %}
						</div>
            		</div>
            	</div>
            </div>

       		<div class="site-section">
				<div class="row">
					<div class="col-sm-12">
						<div class="whitebg">

 							<div class="row">
            				<div class="col-sm-6">
            					<div class="tblhead"><strong>{% trans "Payment Details" %}</strong></div>
            					<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tblstyle">
								  <tbody>
                                    <tr>
										<td colspan="2"> <img src="{% if attempt.settings.gateway.logo %}{{attempt.settings.gateway.logo.url}}{% endif %}" width="75" height="50" alt="{{attempt.settings.gateway}}"/></td>
									</tr>
                                    {% base_prepare_payload attempt as payload %}
                                    {% for key, value in payload.items %}
                                        <tr>
                                            <td>{{ key }}: </td>
                                            <td>{{ value }}</td>
                                        </tr>
                                    {% endfor %}
								  </tbody>
								</table>

            				</div>

            			</div>
						</div>
					</div>
				</div>
			</div>

        </div>
    </section>
    <!-- End #services-section -->


{% endblock %}