{% extends 'ui/base.html' %}
{% load i18n %}

{% block content %}

<section id="services" class="services-section section-global-wrapper">
    <div class="container">
        <div class="row">
            <div class="services-header">
                <div class="col-sm-6">
                    <h3 class="services-header-title">
                        {% trans "There was an error while redirecting you to the payment page." %}
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}