{% extends 'base.html' %}
{% load display_tags %}
{% block title %}{{ page_title }}{% endblock %}
{% block content %}
    <br>
    {% include '_partials/merchant_logo.html' %}
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="page-header">{{ page_title }}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-6 col-md-offset-3">
            <div class="row">
                <div class="col-lg-12">
                    <h4>{{ attempt.message }}</h4>
                    <div class="table-responsive">
                        <!--Success Fail message shown here-->
                        <h4 align="center" class="{{attempt.get_state_display}}">{{message}}</h4>
                        <table class="table table-bordered table-striped">
                            <tbody>
                            {% prepare_payload attempt as payload %}
                            {% for key, value in payload.items %}
                                <tr>
                                    <th class="text-right">{{ key }}</th>
                                    <td>{{ value }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.col-lg-6 (nested) -->
            </div>
            <!-- /.row (nested) -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
{% endblock %}