{% load solo_tags i18n %}
{% load compress %}

{% get_solo 'config.Config' as config %}
<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
    <!-- meta data & title -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ STATIC_URL }}images/favicon.ico">
    <title>{{ config.title }} | {% block title %}{{ page_title }}{% endblock %}</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300">
    {% compress css %}
        {% if LANGUAGE_BIDI %}
            <link href="{{ STATIC_URL }}css/ar/bootstrap.css" rel="stylesheet">
            <link rel="stylesheet" href="{{ STATIC_URL }}css/ar/style_ar.css">
        {% else %}
            <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
        {% endif %}
        <!-- CSS -->
        <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/animate.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
    {% endcompress %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    {% block head %}{% endblock %}
</head>
<body>

{% include 'ui/partials/header.html' %}

{% block content %}
{% endblock content %}

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    {% compress js %}
        <script>
            var lang = "{{ request.LANGUAGE_CODE }}";
        </script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}js/wow.min.js"></script>
        <script src="{{ STATIC_URL }}js/script.js"></script>
        <script>
            new WOW().init();
        </script>

        {% block extra_js %}
        {% endblock extra_js %}
    {% endcompress %}

    {% block more_js %}
    {% endblock more_js %}
</body>
</html>