{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <br>
    {% include '_partials/merchant_logo.html' %}
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="page-header">{% trans 'Oops, this transaction was canceled by merchant.' %}</h2>
        </div>
        <!-- /.col-lg-12 -->
    </div>
{% endblock %}