{% extends 'base.html' %}
{% load crispy_forms_tags i18n %}
{% block content %}

{% block head %}
    {{ form.media.css }}
{% endblock head %}

<br>
{% include '_partials/merchant_logo.html' %}
<div class="row">
   <div class="col-lg-12 text-center">
      <h1 class="page-header">{{ page_title }}</h1>
   </div>
   <!-- /.col-lg-12 -->
</div>
<div class="row">
   <div class="col-lg-6 col-md-offset-3">
      <div class="panel panel-default">
         <div class="panel-body">
            <div class="row">
               <div class="col-lg-12 form-wrapper">
                  {% crispy form %}
                  <div class="text-center">
                     <button type="submit" id="submit-form" class="btn btn-success submit-form">{% trans 'Submit' %}</button>
                  </div>
               </div>
               <!-- /.col-lg-6 (nested) -->
            </div>
            <!-- /.row (nested) -->
         </div>
         <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
   </div>
   <!-- /.col-lg-12 -->
</div>

{% include 'ui/partials/modal.html' %}

{% endblock %}
{% block js %}
<script>
     $.DjangoAjaxHandler2({
         submitBtn: '.submit-form',
         form_selector: '.form-wrapper > form'
     });
</script>
{% endblock %}

{% block extra_js %}
    {{ form.media.js }}
{% endblock extra_js %}