{% extends 'ui/base.html' %}
{% load crispy_forms_tags i18n solo_tags %}

{% block content %}

    <!-- Begin #services-section -->
    <section id="services" class="services-section section-global-wrapper">
        <div class="container">
            <div class="row">
                <div class="services-header">
                    <div class="col-sm-6"><h3 class="services-header-title">{{ page_title }}</h3></div>

                </div>
            </div>
            <div class="row">
            	<div class="col-sm-12">
            		<div class="whitebg">
                        <div class="row">
                            {% if object.is_paid %}
                                <div class="col-sm-12 text-center">
                                    <div>
                                        <img src="{{STATIC_URL}}images/Success.jpg" width="56" height="72" alt="">
                                    </div>
                                    <div class="tblhead">
                                        <strong>{% trans "Thank You" %}</strong>
                                    </div>
                                    <p>{% trans "The due amount is Paid." %}</p>
                                </div>
                            {% endif %}
                        </div>
                        <hr>
            			<div class="row">
            				<div class="col-sm-6">
            					<div class="tblhead"><strong>{% trans "Customer Details" %}</strong></div>
            					<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tblstyle">
								  <tbody>
                                  {% for field_name, value in customer_details.items %}
									<tr>
									  <td>{{field_name}}:</td>
									  <td>{{value}}</td>
									</tr>
                                  {% endfor %}
								  </tbody>
								</table>

            				</div>
            				<div class="col-sm-6">
								<div class="tblhead"><strong>{% trans "Merchant Details" %}</strong></div>
           						<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tblstyle">
								  <tbody>
                                    {% if order_id %}
                                        <tr>
                                          <td>{% trans "Reference Number:" %}</td>
                                          <td>{{ order_id }}</td>
                                        </tr>
                                    {% endif %}
									<tr>
									  <td>{% trans "Reference Date:" %}</td>
									  <td>{{ object.created }}</td>
									</tr>
                                    <tr>
                                      <td>{% trans "Internal ID:" %}</td>
                                      <td>{{ object.id }}</td>
                                    </tr>
 								  </tbody>
								</table>
            				</div>
            			</div>
            			<hr>
                        <div class="row">
                            {% if attachment %}
                                <div class="col-sm-12 text-right"><p class="services-header-body">
                                    <a href="{{attachment.url}}" class="link" target="_blank">
                                        <i class="fa fa-download" aria-hidden="true" data-placement="bottom" title="{% trans 'Download Attachment' %}"></i>
                                        {% trans "Download Attachment" %}
                                    </a>
                                </p></div>
                            {% endif %}
                            {% if remarks %}
                                <div class="col-sm-12">
                                    <div class="tblhead"><strong>{% trans "Remarks" %}</strong></div>
                                    <p>{{remarks}}</p>
                                </div>
                            {% endif %}
                        </div>
            		</div>
            	</div>
            </div>
        {% get_solo 'config.Config' as site_config %}

        {% if site_config.terms %}
            <div class="site-section">
				<div class="row">
					<div class="col-sm-12">
						<p class="text-center terms">{% trans "By Clicking Pay button, you agree to our" %}
							<a data-toggle="modal" data-target="#Modalterms">
                                {% trans "terms & conditions" %}
                            </a>
                        </p>
					</div>
				</div>
       		</div>
        {% endif %}

        {% if not object.is_paid %}
        {% if gateway_code %}
           <div class="site-section mobile-center">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="whitebg">
                                <div class="row">
                                    <form class="pay_form" id="pay_form_{{gateway_code}}" data-gateway-code="{{gateway_code}}" method="post">
                                        {% csrf_token %}
                                    <div class="col-sm-3">
                                        <img src="{{url}}" alt="{{gateway_code}}" width="75" height="50"/>
                                    </div>
                                    <div class="col-sm-6 text-right amount-sec">
                                        {% if fee %}
                                            {% trans "Total Amount" %} {{ amount }} + {% trans "Fee" %} {{fee}} =
                                        {% endif %}
                                        <strong>{{currency_code}} {{total}}</strong>
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="hidden" value="{{gateway_code}}" class="gateway_code" name="gateway_code">
                                        {% if object.is_paid %}
                                            <button type="button" disabled class="btn btn-info" id="pay_submit_{{gateway_code}}">{% trans "Paid in full" %}</button>
                                        {% elif object.is_valid_for_payment %}
                                            <button type="button" class="btn btn-primary" id="pay_submit_{{gateway_code}}">{% trans "Pay" %}</button>
                                        {% else %}
                                            <button type="button" class="btn btn-success" id="pay_submit_{{gateway_code}}" disabled>{{ object.get_state_display }}</button>
                                        {% endif %}

                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        {% else %}
            {% for choice in gateway_choices %}
                <div class="site-section mobile-center">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="whitebg">
                                    <div class="row">
                                        <form class="pay_form" id="pay_form_{{choice.code}}" data-gateway-code="{{choice.code}}" method="post">
                                            {% csrf_token %}
                                            <div class="col-sm-3">
                                                <img src="{{choice.url}}" alt="{{choice.value}}" width="75" height="50"/>
                                            </div>
                                            <div class="col-sm-6 text-right amount-sec">
                                            {% trans "Total Amount" %}
                                            {% if choice.fee %}
                                                {{ amount }} + {% trans "Fee" %} {{choice.fee}}
                                            {% endif %}
                                            = <strong>{{choice.currency_code}} {{choice.total}}</strong>
                                            </div>
                                            <div class="col-sm-2">
                                                <input type="hidden" value="{{choice.code}}" class="gateway_code" name="gateway_code">
                                                {% if object.is_paid %}
                                                    <button type="button" disabled class="btn btn-info" id="pay_submit_{{choice.code}}">{% trans "Paid in full" %}</button>
                                                {% elif object.is_valid_for_payment %}
                                                    <button type="button" class="btn btn-primary" id="pay_submit_{{choice.code}}">{% trans "Pay" %}</button>
                                                {% else %}
                                                    <button type="button" class="btn btn-success" id="pay_submit_{{choice.code}}" disabled>{{ object.get_state_display }}</button>
                                                {% endif %}
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        {% endif %}
        {% endif %}
        </div>
    </section>
    <!-- End #services-section -->

    {% include 'ui/partials/modal.html' %}

{% endblock %}

{% block extra_js %}
    <script>
        $('.pay_form').each(function() {
                var gateway_code = $(this).data('gateway-code');
                $.DjangoAjaxHandler2({
                    submitBtn: '#pay_submit_'+gateway_code,
                    form_selector: '#pay_form_'+gateway_code
                });
        });
    </script>
{% endblock %}