{% extends 'base.html' %}
{% load crispy_forms_tags i18n %}

{% block content %}
    <br>
    {% include '_partials/merchant_logo.html' %}
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="page-header">{{ page_title }}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12 form-wrapper">
                            {% crispy form %}
                            {% if not object.has_gateway %}

                                <div id="fee-section" hidden>
                                    <div id="div_fee" class="form-group">
                                        <label for="id_fee" class="control-label" id="label_id_fee">
                                            {% trans 'Fee' %}
                                        </label>
                                        <div class="controls "><input class="textinput textInput form-control"
                                                                      id="id_fee" maxlength="128" name="fee" type="text"
                                                                      disabled=""></div>
                                    </div>
                                    <div id="div_total" class="form-group" >
                                        <label for="id_total" class="control-label" id="label_id_total">
                                            {% trans 'Total' %}
                                        </label>
                                        <div class="controls "><input class="textinput textInput form-control"
                                                                      id="id_total" maxlength="128" name='total'
                                                                      type="text" disabled=""></div>
                                    </div>
                                </div>

                                {% elif object.gateway_settings.has_fee %}
                                <div id="div_fee" class="form-group">
                                    <label for="id_fee" class="control-label ">
                                        {% trans 'Fee in' %} {{ currency_code }}
                                    </label>
                                    <div class="controls ">
                                        <input class="textinput textInput form-control" id="id_fee" maxlength="128"
                                               name="fee" type="text" disabled="" value='{{ fee }}'>
                                    </div>
                                </div>
                                <div id="div_total" class="form-group">
                                    <label for="id_total" class="control-label">
                                        {% trans 'Total in' %} {{ currency_code }}
                                    </label>
                                    <div class="controls "><input class="textinput textInput form-control" id="id_total"
                                                                  maxlength="128" name='total' type="text" disabled=""
                                                                  value='{{ total }}'></div>
                                </div>
                            {% endif %}
                            <div class="text-center">
                                {% if object.is_paid %}
                                    <button type="submit" disabled
                                            class="btn btn-info">{% trans 'Paid in full' %}</button>
                                    {% elif object.is_valid_for_payment %}
                                    <button type="submit" id="pay-form"
                                            class="btn btn-success">{% trans 'Pay' %}</button>
                                {% else %}
                                    <button type="submit" disabled
                                            class="btn btn-success">{{ object.get_state_display }}</button>
                                {% endif %}
                            </div>
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

{% endblock %}
{% block js %}
    <script>
        $.DjangoAjaxHandler2({
            submitBtn: '#pay-form',
            form_selector: '.form-wrapper > form'
        });

    </script>
    {% if not object.has_gateway %}
        <script>
            var target = {{ object.pk }};
            var lang_code = "{{ LANGUAGE_CODE }}";
        </script>
        <script src="{{ STATIC_URL }}js/ui.js"></script>
    {% endif %}
{% endblock %}