{% load i18n solo_tags %}
{% get_solo 'config.MerchantDetails' as merchant_details %}

<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <title>{% trans "Redirecting to payment page" %}</title>
    <script src="https://{{ object.settings.get_type  }}-gateway.mastercard.com/checkout/version/40/checkout.js" data-error="errorCallback" data-cancel="cancelCallback" data-complete="completeCallback"></script>
    <script>
        function errorCallback(error) {
            console.log(error);
{#            console.log(JSON.stringify(error));#}
        }
        function cancelCallback() {
            console.log('Payment cancelled');
        }
        function completeCallback(data) {
            console.log(data);
        }

        Checkout.configure({
           merchant: "{{ object.settings.merchant_id }}",
           order: {
               description: "{% if object.transaction.order_no %}Payment for {{ object.transaction.order_no }}{% else %}Invoice{% endif %}"
           },
           session: {
                id: "{{ session_id }}"
           },
            interaction: {
                merchant: {
                    name: "{{ merchant_details.get_name }}"
                }
           }
        });
    </script>
</head>
<body onload="Checkout.showPaymentPage();" {% if request.LANGUAGE_CODE == 'ar' %} dir="rtl" {% endif %}>
    <h1>{% trans "Redirecting to payment page" %} <span id="loading">...</span> </h1>
</body>
</html>