{% load i18n %}

<div class="modal-dialog  modal-lg " role="document">
    <div class="modal-content bulkerrormodal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="modalLabel">{% trans 'Error report for ' %} {{ bulk_file.filename }}</h4>
        </div>
        <div class="modal-body" style="overflow-x: scroll;">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        {% for head_title in report.header %}
                            <th>{{ head_title }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in report.report %}
                        <tr>
                            {% for error in row.values %}
                                <td>{{ error }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>