{% extends 'dashboard/base.html' %}

{% load crispy_forms_tags i18n django_bootstrap_breadcrumbs rules %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb _("POS") 'javascript:void(0);' %}
    {% breadcrumb _("Bulk") 'dashboard:bulk:index'  %}
    {% breadcrumb bulk.description bulk.get_absolute_url %}
{% endblock %}

{% block dashboard_content %}
    {% render_breadcrumbs %}
    {% if perms.bulk.add_bulkfile %}
        {% include 'dashboard/_partials/file_form.html' %}
    {% endif %}

    <div class="row">
        <div class="col-lg-12">
            <div class="pull-right">
                {% include 'dashboard/_partials/import_button.html' %}
                {% test_rule 'can_dispatch_bulk' user bulk as can_dispatch_bulk %}
                {% if can_dispatch_bulk and bulk.can_be_dispatched %}
                    <button type="button" class="btn btn-info dispatch" data-href="{{ bulk.get_dispatch_url }}" data-loading-text="{% trans 'Dispatching...' %}">{% trans 'Dispatch whole bulk NOW' %}</button>
                {% endif %}
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            {% crispy form %}
                            {% test_rule 'can_change_obj' user bulk as can_change_obj %}
                            {% if can_change_obj %}
                                <div class="text-center">
                                    <button type="submit" id="submit-form" class="btn btn-success">{% trans 'Save' %}</button>
                                </div>
                            {% endif %}
                        </div>

                        <!-- /.col-lg-6 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <div class="col-lg-9">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>{% trans 'Filename' %}</th>
                        <th>{% trans 'Rows/Imported rows' %}</th>
                        <th>{% trans 'Uploaded by' %}</th>
                        <th>{% trans 'Size' %}</th>
                        <th>{% trans 'Uploaded on' %}</th>
                        <th>{% trans 'File' %}</th>
                        <th>{% trans 'Error report' %}</th>
                        <th>{% trans 'Error file' %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for file in bulk.files.all %}
                    <tr>
                        <td>{{ file.filename }}</td>
                        <td>{{ file.rows }}/{{ file.imported_rows }}</td>
                        <td>{{ file.initiator }}</td>
                        <td>{{ file.file.size|filesizeformat }}</td>
                        <td>{{ file.created|date:"d-m-Y H:i" }}</td>
                        <td class="text-center"><a href="{{ file.file.url }}"><i class="fa fa-download" aria-hidden="true" data-placement="bottom" title="{% trans 'Download file' %}"></i></a></td>
                        <td class="text-center">
                            {% if file.has_errors %}
                                <a href="{% url 'dashboard:bulk:error_report' file.pk %}" class="error-report"><i class="fa fa-exclamation-triangle" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Show error report' %}"></i></a>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            {% if file.has_errors %}
                                <a href="{% url 'dashboard:bulk:error_rows' file.pk %}"><i class="fa fa-download" aria-hidden="true" data-placement="bottom" title="{% trans 'Download file' %}"></i></a>
                            {% endif %}
                        </td>
                    </tr>

                {% endfor %}

                </tbody>
            </table>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    {% if transactions.exists %}
        <div class="row">
            <div class="table-responsive endless_page_template">
                {% include page_template %}

            </div>
        </div>
    {% endif %}

{% endblock %}

{% block js %}

    <script>

        $.DjangoAjaxHandler2({
            submitBtn: '#submit-form',
            form_selector: '#bulk_form',
            postSuccess: function (instance, payload) {
                $(instance.options.submitBtn).button('reset');
            }
        });
    </script>
    <script src="{{ STATIC_URL }}el-pagination/js/el-pagination.js"></script>
    <script>$.endlessPaginate();</script>
    <script src="{{ STATIC_URL }}js/bulk.js"></script>


{% endblock %}

{#        var postSuccess = function(payload) {#}
{#            if (!payload['redirect_url']) {#}
{#                $(instance.options.submitBtn).button('reset').hide('slow');#}
{#                $(instance.form).hide('slow')#}
{#            }#}
{#        };#}
