{% extends 'dashboard/base.html' %}

{% load i18n django_bootstrap_breadcrumbs el_pagination_tags crispy_forms_tags rules %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb _("POS") 'javascript:void(0);' %}
    {% breadcrumb page_title '/' %}
{% endblock %}

{% block dashboard_content %}
    {% render_breadcrumbs %}

    <div class="row">
        <div class="col-lg-12">
            <div class="pull-right">
                <div class="col-md-8">
{#                    <a type="button" class="btn btn-info" id="export" data-loading-text="{% trans 'Exporting...' %}">{% trans 'Export' %}</a>#}
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% trans 'Example file format' %}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'dashboard:bulk:export_format' %}?type=required_fields">{% trans 'Required fields' %}</a></li>
                            <li><a href="{% url 'dashboard:bulk:export_format' %}?type=all_fields">{% trans 'All fields' %}</a></li>
                            <li><a href="{% url 'dashboard:bulk:export_format' %}?type=recurrence_required_fields">{% trans '[Recurrence] required fields' %}</a></li>
                            <li><a href="{% url 'dashboard:bulk:export_format' %}?type=recurrence_all_fields">{% trans '[Recurrence] all fields' %}</a></li>
                        </ul>
                    </div>
                </div>
                {% test_rule 'can_see_import_button' user as can_see_import_button %}
                {% if can_see_import_button %}
                    <div class="col-md-4">
                        {% include 'dashboard/_partials/import_button.html' %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% crispy bulk_filter_form %}

    <div class="endless_page_template">
        {% if object_list %}
            {% include page_template %}
        {% endif %}
    </div>


{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}el-pagination/js/el-pagination.js"></script>
    <script>$.endlessPaginate({
        onClick: function() {
            history.pushState(null, null, $(this).attr('href'));
        }
    });</script>
    <script src="{{ STATIC_URL }}js/bulk.js"></script>

{% endblock %}