{% extends 'dashboard/base.html' %}

{% load crispy_forms_tags crispy_forms_field i18n django_bootstrap_breadcrumbs rules %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb _("POS") 'javascript:void(0);' %}
    {% breadcrumb "Bulks" 'dashboard:bulk:index'  %}
    {% breadcrumb transaction.bulk.description transaction.bulk.get_absolute_url %}
    {% breadcrumb page_title '#' %}
{% endblock %}

{% block dashboard_content %}
    {% render_breadcrumbs %}
    {% test_rule 'can_dispatch_bulk_transaction' user transaction as can_dispatch_bulk_transaction %}
    {% if can_dispatch_bulk_transaction %}
        <div class="row">
            <div class="col-lg-12">
                <div class="pull-right">
                    <button type="button" class="btn btn-info dispatch" data-href="{{ transaction.get_dispatch_url }}" data-loading-text="{% trans 'Dispatching...' %}">{% trans 'Dispatch' %}</button>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-lg-11">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form action="." method="post" id="bulk-transaction-form">
                        <div class="row">
                            <div class="col-md-6">
                                {% for field in left_form %}
                                    {{ field|as_crispy_field }}
                                {% endfor %}
                            </div>
                            <div class="col-md-6">
                                {% for field in right_form %}
                                    {{ field|as_crispy_field }}
                                {% endfor %}
                            </div>
                            <!-- /.col-lg-6 (nested) -->
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    {% test_rule 'can_change_obj' user transaction as can_change_obj %}
                                    {% if can_change_obj %}
                                        <button type="submit" id="submit-form" class="btn btn-success">{% trans 'Save' %}</button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!-- /.row (nested) -->
                    </form>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

{% endblock %}

{% block js %}

    <script src="{{ STATIC_URL }}js/bulk.js"></script>
    <script>

        $.DjangoAjaxHandler2({
            submitBtn: '#submit-form',
            form_selector: '#bulk-transaction-form',
            postSuccess: function (instance, payload) {
                $(instance.options.submitBtn).button('reset');
            }
        });
    </script>

{% endblock %}
{% block extra_css %}
    <link href="{{ STATIC_URL }}css/bootstrap-datetimepicker.min.css" rel="stylesheet">
{% endblock extra_css %}

