{% extends 'base.html' %}

{% load i18n  %}

{% block content %}

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{ gateway.get_name_display }}</h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="{% url 'dashboard:index' %}">Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-table"></i> Tables
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
                <h2>{% trans 'Transactions' %}</h2>
                <div class="row">
                    <div class="col-md-12">
                        <!-- Single button -->
                        <div class="btn-group pull-right">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% trans 'Export' %} <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                            <li><a href="?file_format=csv">{% trans 'CSV' %}</a></li>
                            <li><a href="?file_format=xls">{% trans 'XLS' %}</a></li>
                          </ul>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <p>&nbsp;</p>

                <div class="table-responsive endless_page_template">
                    {% include page_template %}
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->

{% endblock %}


{% block js %}
    <script src="{{ STATIC_URL }}el-pagination/js/el-pagination.js"></script>
    <script>$.endlessPaginate();</script>
    <script src="{{ STATIC_URL }}js/dashboard.js"></script>
{% endblock %}