{% extends 'dashboard/base.html' %}

{% load i18n el_pagination_tags django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb page_title 'dashboard:transactions' %}
{% endblock %}

{% block head %}
    <link href="{{ STATIC_URL }}css/bootstrap-popover-x.css" rel="stylesheet">
{% endblock %}

{% block dashboard_content %}

    {% render_breadcrumbs %}

        {% include 'dashboard/_partials/transaction_filters.html' %}

        <div class="row">

            <div class="col-lg-12">

                <div class="row">
                    <div class="col-md-6 pull-right">
                        <!-- Single button -->
                        <div class="btn-toolbar">
                            <div class="btn-group pull-right">
                                    <button type="button" class="btn btn-primary btn-md dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                        {% trans 'Export Transactions' %}
                                    </button>
                                    <ul class="dropdown-menu popoverfrmdrop">
                                            <li class="popoverfrm">
                                                {% include 'dashboard/fields/export_fields.html' %}
                                            </li>
                                    </ul>
                            </div>
                            <!--Custom Actions Start-->
                            {% url 'dashboard:transaction_actions'  as action_url %}
                            {% include 'dashboard/_partials/actions.html' %}
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <p>&nbsp;</p>

                <div class="table-responsive endless_page_template">
                    {% include page_template %}
                </div>
            </div>
        </div>
        <!-- /.row -->

    <!-- /.container-fluid -->

{% endblock %}


{% block js %}
    <script src="{{ STATIC_URL }}el-pagination/js/el-pagination.js"></script>
    <script>$.endlessPaginate({
        onClick: function() {
            history.pushState(null, null, $(this).attr('href'));
        }
    });</script>
    <script src="{{ STATIC_URL }}js/dashboard.js"></script>
    <script src="{{ STATIC_URL }}js/transaction_filter.js"></script>
     <script src="{{ STATIC_URL }}js/actions.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-popover-x.min.js" type="text/javascript"></script>
{% endblock %}