{% extends 'base.html' %}

{% load django_bootstrap_breadcrumbs %}

{% block content %}    
    <style>
        @media (max-width: 576px) { 
            .navbar-default .nav-second-level {
                float: none !important;
            }
            }
    </style>
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                {% block page_title %}<h1 class="page-header">{{ page_title }}</h1>{% endblock %}
                {% block breadcrumbs %}
                    {% clear_breadcrumbs %}
                    {% breadcrumb _("Dashboard") "dashboard:index" %}
                {% endblock %}

            </div>
        </div>
    </div>

    {% block dashboard_content %}

    {% endblock %}

{% endblock %}
