{% extends 'dashboard/base.html' %}

{% load crispy_forms_tags i18n django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb page_title 'dashboard:help' %}
{% endblock %}

{% block head %}
    {{ form.media.css }}
{% endblock head %}

{% block dashboard_content %}
    {% render_breadcrumbs %}

    <div class="row">
        <div class="col-lg-6 col-md-offset-3">
            <h1 class="page-header">{{ page_title }}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12 form-wrapper" default='{{ default_email }}'>
                            {% crispy form %}
                            <div class="text-center">
                                <button type="submit" class="btn btn-success submit-form">{% trans 'Submit' %}</button>
                            </div>
                            <span class="submit-sucess" style="display: none; text-align:center; color: #5cb85c; font-weight: bold">{% trans 'Successfully Submited' %} !</span>
                        </div>

                        <!-- /.col-lg-6 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

{% endblock %}
{% block js %}
    <script>
        $.DjangoAjaxHandler2({
            submitBtn: '.submit-form',
            submitSucess: '.submit-sucess',
            form_selector: '.form-wrapper > form',
            postSuccess: function (instance, payload) {
                $(instance.options.submitBtn).button('reset').hide('slow');
                $(instance.options.submitSucess).css("display", "block");
                $(instance.form).hide('slow')
            }
        });
    </script>
{% endblock %}
{% block extra_js %}
    {{ form.media.js }}
{% endblock extra_js %}