{% extends 'dashboard/base.html' %}

{% load django_bootstrap_breadcrumbs i18n %}

    {% block dashboard_content %}
    {% render_breadcrumbs %}
    {% if perms.gateway.view_statistics %}
        <div class="row">
            <div class="col-lg-9">

                <div class="panel-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        {% for gateway in gateway_accounts %}
                            <li {% if forloop.first %}class="active"{% endif %}><a href="#gateway_{{ gateway.code }}"
                                                                                   gateway='{{ gateway.code }}'
                                                                                   graph='{% url "dashboard:transaction_graph" %}'
                                                                                   data-toggle="tab"
                                                                                   class='gateway_tab_switch'>{{ gateway.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content gateway_table endless_page_template">
                        {% for gateway in gateway_accounts %}
                            {% if forloop.first %}
                                {% include page_template %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <!-- /.panel -->
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                {% for total_currency in total_based_per_currencies %}
                                    <div>{{ total_currency.total|floatformat:"3" }} {{ total_currency.currency }}</div>
                                    {% empty %}
                                    <div>0.000 KWD</div>
                                {% endfor %}
                                <div>{% trans 'Total Generated' %}</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                {% for total_currency in total_paid_based_per_currencies %}
                                    <div>{{ total_currency.total|floatformat:"3" }} {{ total_currency.currency }}</div>
                                    {% empty %}
                                    <div>0.000 KWD</div>
                                {% endfor %}
                                <div>{% trans 'Total Received' %}</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                {% for total_currency in total_not_paid_based_per_currencies %}
                                    <div>{{ total_currency.total|floatformat:"3" }} {{ total_currency.currency }}</div>
                                    {% empty %}
                                    <div>0.000 KWD</div>
                                {% endfor %}
                                <div>{% trans 'Net Balance' %}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label>{% trans 'From' %}</label>
                                <input type="text" value="" class="form-control" id="date_filter_start" readonly>
                            </div>
                            <div class="col-sm-6">
                                <label>{% trans 'To' %}</label>
                                <input type="text" value="" class="form-control" id="date_filter_end" readonly>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> {% trans 'Statistics' %}
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                                        data-toggle="dropdown">
                                    {% trans 'Actions' %}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li><a href="#" class='display_all'>{% trans 'Display All' %}</a>
                                    </li>
                                    <li><a href="#" class='display_current'>{% trans 'Display Current Gateway' %}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="row">
                            <!-- /.col-lg-4 (nested) -->
                            <div class="col-lg-12">
                                <div id="morris-bar-chart"></div>
                            </div>
                            <!-- /.col-lg-8 (nested) -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-8 -->
            <!-- /.col-lg-4 -->
        </div>
    {% endif %}
    {% endblock %}


{% block js %}
    <script src="{{ STATIC_URL }}el-pagination/js/el-pagination.js"></script>
    <script>$.endlessPaginate();</script>
    <script src="{{ STATIC_URL }}js/dashboard_index.js"></script>
{% endblock %}
