<!-- Default INVOICE HTML starts -->
{% load i18n display_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Invoice</title>
<!-- Bootstrap -->
<link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">
<!--<link href="assets/css/font-awesome.min.css" rel="stylesheet">-->

<link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
<style>
body {
	background-color: #f5f5f7;
	color: #053050;
	font-family: 'Abel', sans-serif;
	font-size: 18px;
}
h1, h2 {
	font-weight: 100;
}
h5 {
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-size: 20px;
	margin-bottom: 20px;
}
.table>thead:first-child>tr:first-child>td {
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-weight: 400;
	padding: 15px 45px;
}
.table>tbody>tr>td {
	padding: 5px 45px;
	border-top: 0;
}
.table>tbody>tr.active>td {
	background-color: #fafafa;
}
input[type=submit] {
	display: inline-block;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: #fff;
	color: #333;
	border-color: #ccc;
	padding: 6px 12px;
}
.draft {
	color: #999;
	border: 1px solid #999;
}
.draft, .unpaid {
	padding: 5px 15px;
}
.unpaid {
	color: #c00;
	border: 1px solid #c00;
}
.paid {
	color: #779500;
	border: 2px solid #779500;
}
.paid, .refunded {
	padding: 5px 15px;
}
.refunded {
	color: #248;
	border: 1px solid #248;
}
.cancelled {
	color: #888;
	border: 1px solid #888;
	padding: 5px 15px;
}
.collections {
	color: #fc0;
	border: 1px solid #fc0;
	padding: 5px 15px;
}
.invoice-container .payment-btn-container {
	padding-top: 15px;
}
.invoice-container .payment-btn-container table {
	float: right;
}
.invoice-status {
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-size: 18px;
	font-weight: 600;
	margin-top: 24px;
}
.table-invoice {
	width: 100%;
	max-width: 100%;
	margin-bottom: 10px;
}
.table-invoice-header>tbody>tr.primary>td {
	font-size: 30px;
}
.table-invoice-items>thead>tr>td, .table-transactions>thead>tr>td {
	letter-spacing: 1.5px;
	padding: 5px 30px;
}
.table__cell {
	padding: 5px 5px;
}
.barcode__cell>td {
	padding-right: 20px;
}
.table-balance .table__cell, .table-invoice-totals .table__cell {
	padding: 10px 30px 10px 15px;
}
.table-transactions {
	margin-bottom: 0;
}
.table-balance {
	margin-bottom: 90px;
}
.table-transactions .table__cell {
	padding: 7px 30px;
}
.logo img {
	max-height: 100px;
	max-width: 150px;
}
.vertical-view-line {
	margin: -20px 0 0 40px;
	border: 2px solid #d0dbe1;
	height: 20px;
	width: 0;
}

.invoice-container {
	background: #fff;
	overflow: hidden;
	border: 1px solid #e3e3e3;
	padding: 0px 0;
}
.well-notes {
	background-color: #fff;
}
.btn-link {
	color: #333;
}
h2.line-heading {
	font: 38px;
	font-weight: 700;
	margin-top: 10px;
	position: relative;
	text-align: left;
	text-transform: uppercase;
	z-index: 1;
	padding-left: 30px;
	color: #606163;
}
h2.line-heading:before {
	border-top: 1px solid #96D2E8;
	content: "";
	margin: 0 auto; /* this centers the line to the full width specified */
	position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
	top: 15px;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	z-index: 1;
}
h2.line-heading span {
	/* to hide the lines from behind the text, you have to set the background color the same as the container */
	background: #fff;
	padding: 0 15px;
	position: relative;
	z-index: 9
}
h2.double:before {
	/* this is just to undo the :before styling from above */
	border-top: none;
}
h2.double:after {
	border-bottom: 1px solid blue;
	-webkit-box-shadow: 0 1px 0 0 red;
	-moz-box-shadow: 0 1px 0 0 red;
	box-shadow: 0 1px 0 0 red;
	content: "";
	margin: 0 auto; /* this centers the line to the full width specified */
	position: absolute;
	top: 45%;
	left: 0;
	right: 0;
	width: 100%;
	z-index: -1;
}

.bluebg h4{
  font-weight: 700;
}

@media (min-width:768px) {
.container {
	width: 770px !important;
}
.invoice-container, .invoice-container>div {
	width: 740px;
}
}

@media (min-width:992px) {
.container {
	width: 870px !important;
}
.invoice-container, .invoice-container>div {
	width: 840px;
	min-height: 1030px;
}
}

@media (min-width:1200px) {
.container {
	width: 870px !important;
}
.invoice-container>div {
	width: 840px;
	min-height: 1130px;
}
}

@media only screen and (max-width:480px) {
.table-invoice-totals {
	margin-left: -15px;
}
}
body {
	font-family: 'Abel', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Abel', sans-serif;
}
strong {
	font-family: 'Abel', sans-serif;
}
.btn-credit {
	color: #fff!important;
	background-color: #363636!important;
	border-color: #363636!important;
}
.table-invoice>tbody>tr.primary>td {
	background-color: #A3C453;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-weight: 100;
}
.table-invoice>tbody>tr.secondary>td {
}
.invoice-container > div {
	box-shadow: 0 0 0 10px #f5f5f7, 0 0 0 20px #363636;
}
.well-credit {
	background-color: #fff;
	border-top: 4px solid #363636
}
address {
	line-height: 28px;
}
.table-invoice-items>thead>tr>td {
	background-color: #053050;
	color: #FFF;
	border-left: 2px solid #FFF;
	border-right: 2px solid #FFF;
	text-align: center;
	padding: 20px 10px;
}
.table-invoice-items>tbody>tr>td {
	text-align: center;
	padding: 10px 0px;
	border-bottom: 1px solid #053050;
}
.table-invoice>tbody>tr.primary>td.bluebg {
	background-color: #053050 !important;
	padding: 10px 20px;
}

	.bottom-txt{
		font-size: 16px;
		font-weight: 700;
	}

	.seller-name{
		font-size: 20px;
	}

	.text-left{
		text-align: left !important;
		padding-left: 10px !important;
	}

	.logo{
		margin-left: 30px;
		padding-top: 10px;
	}

@media print {
.table-invoice-items>thead>tr>td {
	background-color: #053050 !important;
	color: #fff !important;
}
.table-invoice>tbody>tr.primary>td {
	background-color: #A3C453 !important;
	color: #fff !important;
}
.table-invoice>tbody>tr.primary>td.bluebg {
	background-color: #053050 !important;
}
}
</style>
</head>
<body>

<div class="container">
  <div class="invoice-container">
    <div>
      <div class="row">
        <div class="col-md-12">

        <div class="row" style="margin-right: 15px;">
            <div class="col-xs-7 col-sm-7">
       	        <img src="{{logo_url}}" height="180px" width="170px" class="logo" alt=""/>
            </div>
            <div class="col-xs-5 col-sm-5 pull-right text-right">
              <address>
              {{ merchant.name }}<br />
              {{ merchant.merchant_address|safe }}
              </address>
            </div>
        </div>
          <div class="row" style="margin-top:10px;margin-left:15px;margin-bottom:30px;">
            <div class="clearfix"></div>
            <div class="col-sm-8 col-xs-8">
              <h2 class="line-heading"><span>{% trans "INVOICE" %}</span></h2>
              <address>
              {% if customer_name %}
                    <strong>{% trans "Invoiced To" %}</strong><br>
                    {{customer_name}}<br />
              {% endif %}
              <strong>{% trans "INTERNAL ID" %}</strong> {{id}}<br>
              {% if customer_phone %}
                <strong>{% trans "Telephone No" %}</strong> {{customer_phone}}<br>
              {% endif %}
              {% if customer_email %}
                <strong>{% trans "Email ID" %}</strong> {{ customer_email }} <br>
              {% endif %}
              {% if product %}
                <strong>{% trans "Product" %}</strong> {{ product.name }} <br>
                <strong>{% trans "Quantity" %}</strong> {{ quantity }} <br>
              {% endif %}
              </address>
            </div>

            <div class="col-sm-4 col-xs-4">
              <table class="table-invoice table-invoice-header">
                <tbody>
                  <tr class="primary">
                    <td colspan="2" class="table__cell text-center">{% trans "PAID" %}</td>
                  </tr>
                  {% if order_id %}
                    <tr>
                      <td class="table__cell"><strong> {% trans "Reference Number" %} </strong></td>
                      <td class="table__cell">{{ order_id }}</td>
                    </tr>
                  {% endif %}
                  <tr>
                    <td class="table__cell"><strong> {% trans "Issue Date" %}</strong></td>
                    <td class="table__cell">{{attempt.transaction.created|date}}</td>
                  </tr>
                  <tr>
                    <td class="table__cell"><strong>{% trans "Paid Date" %}</strong></td>
                    <td class="table__cell">{{attempt.state_changed_at|date}}</td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>

          {% if itinerary_data %}
              <!-- itinerary information table | dynamically populate -->
            <table class="table-invoice table-invoice-items">
              <thead>
                <tr class="table-head">
                  {% for key, value in itinerary_data.items %}
                    <td width="20%"><strong>{{key}}</strong></td>
                  {% endfor %}
                  <td width="15%" class="text-right"><strong>{% trans "Price" %}</strong></td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  {% for key, value in itinerary_data.items %}
                    <td class="table__cell">{{value}}</td>
                  {% endfor %}
                  <td class="text-right table__cell">{{attempt.total}} KWD</td>
                </tr>
              </tbody>
            </table>

            <div class="row" style="margin-left:15px;">
              <div class="col-md-7 col-xs-7"> </div>
              <div class="col-md-5 col-xs-5">
                <table class="table-invoice table-invoice-totals">
                  <tbody>
                    <tr class="primary">
                      <td class="table__cell bluebg"><h4>Total</h4></td>
                      <td class="text-right table__cell bluebg"><h4>{{attempt.total}} KWD</h4></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          {% endif %}

					{% if invoice_html %}
					<hr>
					<div class="row" style="margin-left:15px;">
            <div class="col-md-6 col-xs-6">
							{{invoice_html}}
						</div>
					</div>
          {% endif %}
          <hr>
          <div class="row" style="margin-left:15px;">
             <div class="col-md-6 col-xs-6">
              <h5><strong>{% trans "Gateway response" %}</strong></h5>
                <img src="{% if attempt.settings.gateway.logo %}{{attempt.settings.gateway.logo.url}}{% endif %}" width="75" height="50" alt="{{attempt.settings.gateway}}"/>
              <address>
                  {% base_prepare_payload attempt as payload %}
                  {% for key, value in payload.items %}
                          <strong>{{ key }}</strong> {{ value }}<br>
                  {% endfor %}
              </address>
            </div>
            <div class="col-md-6 col-xs-6">
              <h5><strong>{% trans "Initiator details" %}</strong></h5>
              <address>
                {% if attempt.transaction.initiator %}
                    <strong>{% trans "Initiator Name" %}</strong>  {{ attempt.transaction.initiator }}<br>
                {% endif %}
                  <strong>{% trans "Payment Date" %}</strong> {{attempt.state_changed_at}}
              </address>
            </div>
          </div>
        </div>
			</div>
    </div>
  </div>
</div>
</body>
</html>