{% extends 'base.html' %}

{% load crispy_forms_tags i18n unfriendly_tags %}


{% block content %}

    <div class="row">
        <div class="col-lg-6 col-md-offset-3">
            <h1 class="page-header">{{ page_title }}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                {% if object.get_whatsapp_template %}
                                    <a href="{{ whatsapp_send_url }}?text={{object.get_whatsapp_template}}&phone={{object.customer_phone}}" data-action="share/whatsapp/share" target="_blank" title="{% trans 'Share on WhatsApp' %}"><i class="fa fa-whatsapp whatsappicon"></i></a>
                                {% endif %}

                                <a href="javascript:void(0)" onclick="copyToClipBoard()" title="{% trans 'Copy to clipboard' %}"><i class="fa fa-copy copyicon"></i></a>
                                <label>{% trans 'Payment URL' %}</label>
                                <input value="{{ object.get_payment_url }}" class="form-control" readonly id="payment-url">
                            </div>
                            {% crispy form %}
                            {% if has_attachment %}
                                <div class="form-group">
                                    <label>{% trans 'Attachment URL' %}</label>
                                    <input value="{{ object.get_attachment_url }}" class="form-control" readonly>
                                </div>
                            {% endif %}
                        </div>

                        <!-- /.col-lg-6 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
{% if qr_code %}
    {% include 'dashboard/_partials/qr_code_modal.html' %}
{% endif %}

{% endblock %}

{% block js %}
    {% if qr_code %}
        <script>
            $(document).ready(function(){
                $('#div_id_sms_notification').parent().append("<div class='form-group'><label class='cursor: pointer !important;'><a data-toggle='modal' data-target='#ModalQr'>{% trans 'Click to show QR Code' %}</a></label></div>");
            });
        </script>
    {% endif %}
    <script>
        function copyToClipBoard() {
            var range = document.createRange();
            range.selectNode($('#payment-url').get(0));
            window.getSelection().addRange(range);
            try {
                // Now that we've selected the anchor text, execute the copy command
                var successful = document.execCommand('copy');
                toastr.success(gettext('Copied to clipboard'))
            } catch (err) {
                console.log('Oops, unable to copy');
                toastr.error(gettext('Error while copying to clipboard'))
            }
            window.getSelection().removeAllRanges();
        }
    </script>

{% endblock %}

