{% load i18n %}

{% with perms.gateway.view_paymenttransaction_export_settings as export_settings_available %}
    <!-- PopoverX content -->
<form method="post">
    {% csrf_token %}
    <div class="popover-body popover-content popoverfrmdrop">
        <!--<input type="text" class="form-control search">-->
        <!--<hr>-->
        {% if export_settings_available %}
            {% if builtin_fields_list or custom_fields_list %}
            <table class="table table-bordered results">
                <thead>
                    <tr>
                        <th colspan="3">{% trans 'Select form fields:' %}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                      <td>
                          <div class="row">

                            {% if builtin_fields_list %}
                                {% for field, label in builtin_fields_list.items %}
                                      <div class="col-xs-1">
                                        <label class="check ">
                                            <input type="checkbox" name="fields" value="{{field}}">
                                            <span class="checkmark"></span>
                                        </label>
                                      </div>
                                      <div class="col-xs-5"> {{label}}</div>
                                {% endfor %}
                            {% endif %}

                            {% if custom_fields_list %}
                                {% for field, label in custom_fields_list.items %}
                                      <div class="col-xs-1">
                                        <label class="check ">
                                            <input type="checkbox" name="fields" value="{{field}}">
                                            <span class="checkmark"></span>
                                        </label>
                                      </div>
                                      <div class="col-xs-5"> {{label}}</div>
                                {% endfor %}
                            {% endif %}
                          </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            {% endif %}

            <table class="table table-bordered results">
                <thead>
                    <tr>
                        <th colspan="3">{% trans 'Select Fields:' %}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="row">
                            {% if 'extra' in other_fields %}
                                  <div class="col-xs-1">
                                    <label class="check ">
                                        <input type="checkbox" name="fields" value="extra">
                                        <span class="checkmark"></span>
                                    </label>
                                  </div>
                                  <div class="col-xs-5">{% trans "Extra" %}</div>
                            {% endif %}
                              <div class="col-xs-1">
                                <label class="check ">
                                    <input type="checkbox" name="fields" value="gateway_response">
                                    <span class="checkmark"></span>
                                </label>
                              </div>
                              <div class="col-xs-5">{% trans "Gateway Response" %}</div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        {% endif %}

            <table class="table table-bordered results">
                <thead>
                    <tr>
                        <th colspan="3">{% trans 'Select file type:' %}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                      <td>
                          <div class="row">

                              <div class="col-xs-1">
                                <label class="check ">
                                    <input type="radio" name="file_format" value="csv" checked>
                                    <span class="checkmark"></span>
                                </label>
                              </div>
                              <div class="col-xs-5">{% trans "CSV" %}</div>

                              <div class="col-xs-1">
                                <label class="check ">
                                    <input type="radio" name="file_format" value="xls">
                                    <span class="checkmark"></span>
                                </label>
                              </div>
                              <div class="col-xs-5">{% trans "XLS" %}</div>
                          </div>
                        </td>
                    </tr>
                </tbody>
            </table>
    </div>
    <div class="popover-footer">
        {% if export_settings_available %}
            <input type="button" class="btn btn-sm btn-primary export-transactions" data-export-type="selected" value="{% trans 'Export selected' %}">
            <!--<button type="reset" class="btn btn-sm btn-default">Reset</button>-->
        {% endif %}
        {% with export_settings_available|yesno:'Export default,Export,Export' as export_default_name %}
         <input type="button" class="btn btn-sm btn-primary export-transactions" data-export-type="default" value="{% trans export_default_name %}">
        {% endwith %}
    </div>
</form>
{% endwith %}