{% load crispy_forms_filters form_tags %}
{% load l10n i18n %}

<div class="form-group paymentoptions">
    <label>{{ field.label }}</label>
    {% for choice in field.field.choices %}
        {% get_gateway_logo choice.0 as logo %}
        <label class="radio-inline">
            <input type="radio"{% if choice.0|stringformat:"s" == field.value|stringformat:"s" %} checked="checked"{% endif %} name="{{ field.html_name }}" id="id_{{ field.html_name }}_{{ forloop.counter }}" value="{{ choice.0|unlocalize }}" {{ field.field.widget.attrs|flatatt }}>
            {% if logo %}
                <img src="{{ logo }}" height="34" alt="{{ choice.1 }}">
            {% else %}
                <span>{{ choice.1 }}</span>
            {% endif %}
        </label>
    {% endfor %}
</div>