{% load rules %}

{% for menu_item in menu_items %}
    {% test_rule 'has_menu_perm' user menu_item as can_view_parent %}
    {% if can_view_parent %}
        <li>
            {% if not menu_item.has_children %}
                <a href="{{ menu_item.url }}"><i class="{{ menu_item.icon }}"></i> {{ menu_item.verbose_name }}</a>
            {% else %}
                <a href="javascript:void(0)"><i class="{{ menu_item.icon }}"></i> {{ menu_item.verbose_name }}<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    {% for child in menu_item.children %}
                        {% test_rule 'has_menu_perm' user child as can_view_child %}
                        {% if can_view_child and child.visible %}
                            <li>
                                <a href="{{ child.url }}">{{ child.verbose_name }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endif %}
{% endfor %}