{% load solo_tags static i18n %}

{% get_solo 'config.Config' as config %}

<div class="navbar-header">
    {% if user.is_authenticated %}
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">{% trans 'Toggle navigation' %}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    {% endif %}
    <a class="navbar-brand" {% if user.is_authenticated %} href="/" {% else %} href="javascript:void(0);" {% endif %}>{{ config.title }}</a>
</div>
<!-- /.navbar-header -->