{% load i18n %}

{% if user.is_authenticated %}
    <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <!--                 <li><a href="javascript:void(0)"><i class="fa fa-user fa-fw"></i>{% trans 'User profile' %}</a>
                    </li> -->
                    {% if request.user.is_superuser or request.user.is_staff %}
                        <li><a href="{% url 'admin:index' %}"><i
                                class="fa fa-gear fa-fw"></i>{% trans 'Administration panel' %}</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="{% url 'dashboard:auth_settings' %}"><i
                                class="fa fa-key fa-fw"></i>{% trans 'Auth settings' %}</a>
                        </li>
                        <li class="divider"></li>
                    {% endif %}
                    <li class='text-center'>
                        <form action="{% url 'set_language' %}" name='change_language' method="post">
                            {% csrf_token %}
                            <input name="next" type="hidden" value=""/>
                            <input name="language" type="hidden" value="{% if LANGUAGE_BIDI %}en{% else %}ar{% endif %}"/>
                            <input type="submit" class='btn btn-default' value="{% if LANGUAGE_BIDI %}Switch language{% else %}تبديل اللغة{% endif %}"/>
                        </form>
                    </li>
                    <li class="divider"></li>
                    <li><a href="{% url 'accounts:logout' %}"><i class="fa fa-sign-out fa-fw"></i>{% trans 'Logout' %}</a>
                    </li>
                </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->
{% endif %}
