.sidebar-copyright {
    background-color: #2b3647;
    color: #6f7e95;
    height: 30px;
    height: 2.28571rem;
    line-height: 32px;
    line-height: 2.28571rem;
    /*position: absolute;*/
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 11px;
    font-size: 0.78571rem;
    font-weight: bold;
    transition: background-color .3s,color .3s;
    position: relative;
}