{% extends 'ui/base.html' %}
{% load crispy_forms_tags i18n solo_tags %}
<!-- {% load solo_tags thumbnail %} -->

{% load el_pagination_tags i18n rules %}

{% block head %}
    {{ form.media.css }}
{% endblock head %}

{% block content %}

<section id="services" class="services-section section-global-wrapper">
    <div class="container">
      
        
        <div class="row">
            <div class="col-sm-12">
                <div class="whitebg">
                <div class="row">
                     <div class="col-sm-12 text-center">

                        {% paginate 6 products %}
                        {% for product in products %}
                                        
                        <div class="item col-xs-4 col-lg-4">
                            <div class="thumbnail card">
                                <div class="img-event">
                                        {% if product.images.exists %}
                                            {% thumbnail product.images.first.image 300x300 crop as image%}
                                            <img class="group list-group-image img-responsive" src="{{ image.url }}" 
                                                    width="300" height="300" alt="{{ product.name }}">
                                        {% else %}
                                            <img class="group list-group-image img-responsive" src="http://placehold.it/300x300/000/fff" alt="">
                                        {% endif %}
                                </div>
                                <div class="caption card-body">
                                    <h3>
                                        {{ product.name }}</h3>
                                    <p class="desc">{{ product.description|safe |truncatechars:40 }}</p>
                                
                                    <div class="row">
                                        
                                        <div class="bottom-wrap">
                                                <div class="col-xs-12 col-md-6 ">
                                                <span class="price-new">{{ product.currency.code }} {{ product.base_price }}</span> 
                                                {% if product.original_price%}
                                                    <del class="price-old">{{ product.currency.code }} {{ product.original_price }}</del>
                                                {% endif %}
                                            </div> <!-- price-wrap.// -->
                                            <div class="col-xs-12 col-md-6 text-right">
                                                <a class="btn btn-success" href="{{ product.payment_link }}">Buy Now</a>
                                            </div>
                    
                                        </div> <!-- bottom-wrap.// -->
                                    
                                    </div>
                                </div>
                            </div>
                        </div>    
                            
                        {% endfor %}                                   
                       
                        </div>
                    </div>
                 
                </div>
            </div>
        </div>
        
        
        <div class="row">
            <div class="col-sm-12 text-center">
                    {% include 'dashboard/_partials/pagination.html' %}
            </div>
        </div>
                 
           
           
    
    </div>  
    
        
 
</section>

{% endblock %}


{% block more_js %}
    {{ form.media.js }}
{% endblock more_js %}