{% extends 'ui/base.html' %}
{% load crispy_forms_tags i18n solo_tags %}
{% load static %}
<!-- {% load solo_tags thumbnail %} -->

{% block head %}
    {{ form.media.css }}
    <link rel="stylesheet" href="{% static 'css/product.css' %}" />
{% endblock head %}

{% block content %}

    <!-- Begin #services-section -->
    <section id="services" class="services-section section-global-wrapper">
        <div class="container">
            {% if qty_available %}

            <div class="row">
                <div class="services-header">
                    <div class="col-sm-6"><h3 class="services-header-title">{{ page_title }}</h3></div>
                </div>
            </div>

            <div class="row">
            	<div class="col-sm-12">
            		<div class="whitebg">
            			<div class="row">

                            <div class="col-sm-6">
                                    <div class="tblhead"><strong>{% trans "Product Info:" %}</strong></div>
                                    <div id="carousel" class="carousel slide img-first" data-ride="carousel">
                                            <div class="carousel-inner">
                                                {% for item in product.images.all %}
                                                    {% if forloop.first %}
                                                        <div class="item active">
                                                            <img src="{{item.image.url}}">
                                                        </div>
                                                    {% else %}
                                                        <div class="item">
                                                            <img src="{{item.image.url}}">
                                                        </div>
                                                    {% endif %}
                                                {% endfor %} 
                                            </div>
                                        </div> 
                                    <div class="clearfix">
                                        {% if product.images.count > 0%}
                                            <div id="thumbcarousel" class="carousel slide" data-interval="false">
                                                <div class="carousel-inner">
                                                    <div class="item active">
                                                        {% for item in product.images.all %}
                                                            {% if forloop.counter != 5 %}
                                                                <div class="item">
                                                                    <div data-target="#carousel" data-slide-to="{{ forloop.counter0 }}" class="thumb">
                                                                        <img src="{{item.image.url}}"></div>
                                                                </div>
                                                            {% endif %}
                                                        {% endfor %}  
                                                    </div><!-- /item -->
                                                    <div class="item"><!-- /item -->
                                                        {% if product.images.count == 5%}
                                                        <div data-target="#carousel" data-slide-to="4" class="thumb">
                                                            <img src="{{product.images.last.image.url}}"></div>
                                                        {% endif %}
                                                    </div><!-- /item -->
                                                </div><!-- /carousel-inner -->
                                                <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
                                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                                </a>
                                                <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
                                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                                </a>
                                            </div> <!-- /thumbcarousel -->
                                        {% endif %}
                                    </div><!-- /clearfix -->
                                    
                                    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tblstyle">
                                        <tbody>
                                        <tr>
                                            <td>{% trans "Product/Service" %}:</td>
                                            <td>{{product.name}}</td>
                                        </tr>
                                        {% if product.stock and product.display_stock %}
                                            <tr>
                                                <td>{% trans "Stock" %}:</td>
                                                <td>{{ product.stock }}</td>
                                            </tr>
                                        {% endif %}
                                        {% if product.end_date %}
                                            <tr>
                                                <td>{% trans "Original price" %}:</td>
                                                <td>{{ product.original_price }} {{ product.currency }}</td>
                                            </tr>
                                            <tr>
                                                <td>{% trans "Total saving" %}:</td>
                                                <td>{{ product.total_saving }}%</td>
                                            </tr>
                                        {% endif %}
                                        {% if product.days_left > 0 and product.hours_left > 0 %}
                                            <tr>
                                                <td>{% trans "Time Left" %}:</td>
                                                <td>{{ product.days_left }} Days, {{ product.hours_left }} Hours</td>
                                            </tr>
                                        {% endif %}
                                        <tr>
                                            <td>{% trans "Qty" %}:</td>
                                            <td>
                                                <input class="qtyinput" id="product_quantity" data-product-slug="{{product.slug}}" type="text" value="1"> &nbsp;&nbsp;&nbsp;
                                                <button type="submit" class="btn btn-primary update-btn" id="quantity_update">{% trans "Update" %}</button></td>
                                        </tr>
                                        <tr>
                                            <td>{% trans "Description" %}:</td>
                                            <td>{{product.description|safe}}</td>
                                        </tr>
                                        {% if product.youtube_link %}
                                            <tr>
                                                <td>{% trans "Check Video" %}:</td>
                                                <td>{{ product.youtube_link }}</td>
                                            </tr>
                                        {% endif %}
                                        {% if product.contact_number %}
                                            <tr>
                                                <td>{% trans "Call Center Number" %}:</td>
                                                <td>{{ product.contact_number }}</td>
                                            </tr>
                                        {% endif %}
                                        </tbody>
                                    </table>
                            </div>

            				<div class="col-sm-6">
                            <form class="pay_form" id="pay_form" method="post">
								<div class="tblhead"><strong>{% trans "Customer Info:" %}</strong></div>
                                    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tblstyle">
                                      <tbody>
                                        {% crispy form %}
                                      </tbody>
                                    </table>

                                    <input type="hidden" value="" class="gateway_code" name="gateway_code">
                                    <input type="hidden" value="1" class="product_quantity" name="quantity">
                                    <input type="hidden" value="" class="amount" name="amount">
                                </form>
            				</div>

            			</div>
            			<!--<hr>-->
                        <!--<div class="row">-->
                                <!--<div class="col-sm-12">-->
                                    <!--<div class="tblhead"><strong>{% trans "Remarks" %}</strong></div>-->
                                    <!--<p>&#45;&#45;</p>-->
                                <!--</div>-->
                        <!--</div>-->
            		</div>
            	</div>
            </div>

        {% get_solo 'config.Config' as site_config %}

        {% if site_config.terms %}
        <div class="site-section">
            <div class="row">
                <div class="col-sm-12">
						<p class="text-center terms">{% trans "By continuing pay button you are accepting our" %}
                                <a data-toggle="modal" data-target="#Modalterms">
                            {% trans "Terms & Conditions" %}
                        </a>
                    </p>
                </div>
            </div>
        </div>
        {% endif %}
            <div class="product_prices">
                {% include 'catalogue/partials/product_prices.html' %}
            </div>
            {% else %}
                <div class="col-sm-12">
                    <p class="text-center terms">
                        {% trans "Payment link has expired!" %}
                    </p>
                </div>
            {% endif %}

        </div>
    </section>
    <!-- End #services-section -->

    {% include 'ui/partials/modal.html' %}

{% endblock %}

{% block extra_js %}
    <script>
        var target = "{{ product.slug }}";
        var lang_code = "{{ LANGUAGE_CODE }}";
    </script>
    {% if qty_available %}
        <script src="{{ STATIC_URL }}js/catalogue.js"></script>
    {% endif %}
{% endblock %}

{% block more_js %}
    {{ form.media.js }}
{% endblock more_js %}